/* embedded fonts */
@font-face {
  font-family: "avantgarde_book";
  src: url('fonts/ITCAvantGardeStd-Bk.eot');
  src: url('fonts/ITCAvantGardeStd-Bk.eot?#iefix') format('eot'), url('fonts/ITCAvantGardeStd-Bk.woff') format('woff'), url('fonts/ITCAvantGardeStd-Bk.ttf') format('truetype'), url('fonts/ITCAvantGardeStd-Bk.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "avantgarde_light";
  src: url('fonts/ITCAvantGardeStd-XLt.eot');
  src: url('fonts/ITCAvantGardeStd-XLt.eot?#iefix') format('eot'), url('fonts/ITCAvantGardeStd-XLt.woff') format('woff'), url('fonts/ITCAvantGardeStd-XLt.ttf') format('truetype'), url('fonts/ITCAvantGardeStd-XLt.svg') format('svg');
  font-weight: normal;
  font-style: normal;
}

/* Clearfix */
.cf {
  /**
   * For IE 6/7 only
   * Include this rule to trigger hasLayout and contain floats.
   */
  *zoom: 1;
}

.cf:before {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
  clear: both;
}

/*#wrap .container {
	@include grid-background;
}*/
html, body {
  height: 100%;
  min-height: 100%;
  margin: 0;
  padding: 0;
}

body {
  -webkit-font-smoothing: subpixel-antialiased;
  font-family: arial;
  font-size: normal;
  color: black;
}

h1 {
  font-family: "avantgarde_light", arial;
  font-size: 2.857em;
}

h2 {
  font-family: "avantgarde_light", arial;
  font-size: 2em;
}

h3 {
  font-family: "avantgarde_light", arial;
  font-size: 1.286em;
}

h4 {
  font-family: "avantgarde_light", arial;
  font-size: 1em;
}

h5 {
  font-family: "avantgarde_light", arial;
  font-size: 0.857em;
}

p {
  font-family: arial;
  font-size: 0.857em;
  line-height: 1.143em;
  color: #464646;
}

hr {
  border: none;
  border-top: 1px dotted #c6c6c6;
  margin-top: 0.857em;
  margin-bottom: 0.857em;
}

img {
  max-width: 100%;
}

/* form styles */
label {
  display: inline-block;
  font-size: 18px;
  font-family: "avantgarde_light", arial;
  color: #526c8c;
  margin: 0;
}

input[type="text"], input[type="password"], input[type="datetime"],
input[type="datetime-local"], input[type="date"], input[type="month"],
input[type="time"], input[type="week"], input[type="number"],
input[type="email"], input[type="url"], input[type="search"],
input[type="tel"], input[type="color"], textarea, select {
  outline: none;
  margin: 5px 0;
  padding: 2px;
  height: 18px;
  border: 1px solid #c3c3c3;
  border-radius: 0;
  font-family: arial;
  font-size: 12px;
  color: #464646;
}

select {
  border-radius: none;
  color: black;
  height: 24px;
  margin-top: 5px;
  padding: 0;
  width: auto;
}

.dd-container {
  height: 22px;
  padding: 0;
}
.dd-container .dd-select {
  font-size: 16px;
  height: 22px;
  line-height: 16px;
  padding: 0;
}
.dd-container .dd-selected {
  height: 16px;
  line-height: 16px;
  padding: 2px 4px 4px 10px;
}
.dd-container .dd-selected-text {
  color: #464646 !important;
  line-height: 12px;
}
.dd-container .dd-option {
  height: 16px;
  line-height: 16px;
}
.dd-container .dd-option .dd-option-text {
  color: #464646 !important;
  line-height: 16px;
}

.dd-multiselected label {
  text-decoration: line-through;
  color: #999999 !important;
}

input[type="checkbox"] {
  display: none;
}

a label span + span.dd-status {
  height: 20px;
  width: 12px;
  padding: 0;
  margin-right: 5px;
}

a label span + span.dd-status.marker-up {
  background-position: -101px -50px;
}

a label span + span.dd-status.marker-down {
  background-position: -71px -50px;
}

a label span + span.dd-status.marker-degraded {
  background-position: -86px -50px;
}

a label span + span.dd-status.marker-not_monitored {
  background-position: -116px -50px;
}

input[type="checkbox"] ~ label span {
  display: inline-block;
  background: url("../Images/sprite-sheet.png") -110px -21px;
  width: 17px;
  height: 17px;
  vertical-align: middle;
  cursor: pointer;
  padding-left: 7px;
  margin-top: -3px;
}

input[type="checkbox"].checked ~ label span {
  background: url("../Images/sprite-sheet.png") -110px 0px;
}

textarea {
  resize: none;
  width: 400px;
  height: 200px;
}

/* Link styles */
a:link, a:visited {
  color: #526c8c;
}

a:hover, a:active {
  color: #e65717;
}

/* color styles */
.white {
  color: white;
}

.black {
  color: black;
}

.gray {
  color: #c3c3c3;
}

.dark-gray {
  color: #868d9a;
}

.darker-gray {
  color: #464646;
}

.blue-gray {
  color: #526c8c;
}

.blue-dark {
  color: #0d1a34;
}

.gray-light {
  color: whitesmoke;
}

.orange {
  color: #e65717;
}

.red {
  color: #dd2222;
}

/* button styles */
.button {
  border: 1px solid #c3c3c3;
  background-color: #526c8c;
  color: white;
  display: inline-block;
  font-size: 0.857em;
  font-family: "avantgarde_book";
  line-height: 100%;
  position: relative;
  padding: 7px 20px 5px 10px;
  text-transform: uppercase;
  text-decoration: none;
}

.button:hover {
  background-color: #0d1a34;
}

.button span {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: 8px;
  top: 50%;
  margin-top: -6px;
  border-width: 6px 0px 6px 6px;
  border-style: solid;
  border-color: transparent #e65717;
}

a.button:link, a.button:visited, a.button:hover, a.button:active {
  color: white;
}

.close-btn a {
  background: url("../Images/sprite-sheet.png") 0px 0px;
  width: 10px;
  height: 10px;
  display: block;
  outline: 0px;
}

.settings-btn a {
  background: url("../Images/sprite-sheet.png") -14px 0px;
  width: 15px;
  height: 15px;
  display: block;
  outline: 0px;
}

.search-btn a {
  background: url("../Images/sprite-sheet.png") -33px 0px;
  width: 17px;
  height: 16px;
  display: block;
  outline: 0px;
}

.calendar-btn a {
  background: url("../Images/sprite-sheet.png") -53px 0px;
  width: 26px;
  height: 23px;
  display: block;
  outline: 0px;
}

.help-btn a {
  background: url("../Images/sprite-sheet.png") -83px 0px;
  width: 23px;
  height: 21px;
  display: block;
  outline: 0px;
}

.submit {
  bottom: 0;
  display: inline-block;
  right: 0;
  margin-top: 20px;
  position: absolute;
}

.submit span {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: 8px;
  top: 50%;
  margin-top: -4px;
  border-width: 6px 0px 6px 6px;
  border-style: solid;
  border-color: transparent #e65717;
}

.inline {
  display: inline;
}

.bold {
  font-weight: bold;
}

ul {
  list-style-type: disc;
}

.marketing {
  float: left;
  width: 64.957264957265%;
}

/* Tables and Grids */
table br {
  height: 0;
  line-height: 0;
  margin-top: 0;
  margin-bottom: 0;
}
table tr td {
  padding: 0 10px 10px 0;
  vertical-align: middle;
}
table tr td.highlight {
  background: #526c8c !important;
}
table tr td input {
  line-height: 100%;
  margin: 0;
  vertical-align: middle;
}
table tr td input[type=radio] {
  margin: 0 3px;
}
table tr td select {
  margin-bottom: 10px;
}
table tr td .dd-container {
  margin-top: 5px;
}
table tr td .dd-container .dd-options {
  max-height: 100px;
}

.filter_column #filter {
  display: inline-block;
}

.dataTables_wrapper {
  width: 100%;
}
.dataTables_wrapper .display.table-bordered {
  border: none;
  width: 100% !important;
}
.dataTables_wrapper .display.table-bordered th, .dataTables_wrapper .display.table-bordered td {
  border-left: none;
  border-right: none;
  border-top: none;
  border-bottom: 1px solid #e1e1e1;
}
.dataTables_wrapper .display.table-bordered th {
  border-bottom: 1px solid #898989;
}
.dataTables_wrapper .display.table {
  width: 100% !important;
}
.dataTables_wrapper .display.table thead {
  border-top: none;
  /*tr[role=row]:first-child {
  	display:none;}*/
}
.dataTables_wrapper .display.table thead th {
  border-top: none;
}
.dataTables_wrapper .display.table input[type=text] {
  min-width: 165px;
  max-width: 100%;
  width: 100%;
}
.dataTables_wrapper .display.table th[role=columnheader] {
  cursor: pointer;
  font: bold 12px/12px arial, helvetica, sans-serif;
  text-decoration: underline;
}
.dataTables_wrapper .display.table tbody td {
  font: normal 12px/12px arial, helvetica, sans-serif;
}
.dataTables_wrapper .display.table tbody tr {
  background: #fff;
}
.dataTables_wrapper .display.table tbody tr.odd, .dataTables_wrapper .display.table tbody tr.even {
  background: #fff;
}

.table-striped tbody tr:nth-child(2n+1) td, .table-striped tbody tr:nth-child(2n+1) th {
  background: #fff;
}

.autopay .header {
  background: #526c8c;
  color: white;
  line-height: 100%;
  margin: 0;
  padding: 10px;
}
.autopay .header + div {
  background: #e1e1e1;
  padding: 15px 10px;
}
.autopay .header + div .button {
  margin-left: 10px;
}

.styled-select {
  background: #fff;
  border: 1px solid #c3c3c3;
  height: 18px;
  margin: 5px 0;
  overflow: hidden;
  padding: 2px;
  position: relative;
  vertical-align: top;
}
.styled-select select {
  -webkit-appearance: none;
  background: none repeat scroll 0 0 transparent;
  border: none;
  cursor: pointer;
  line-height: 12px;
  margin: 0;
  outline: none;
  padding: 3px 20px 0 0;
  position: absolute;
  top: -2px;
  vertical-align: top;
  z-index: 2;
}
.styled-select span {
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-top: 6px solid #e65717;
  height: 0;
  margin-top: -3px;
  position: absolute;
  right: 10px;
  top: 50%;
  width: 0;
  z-index: 1;
}

.contact-info ~ .submit {
  left: 65%;
  margin-top: 20px;
}

/* Overlay */
.overlay {
  background: rgba(255, 255, 255, 0.85);
  display: none;
  left: 0;
  position: absolute;
  z-index: 19;
}

.lt-ie9 .overlay {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#DFFFFFFF,endColorstr=#DFFFFFFF);
  zoom: 1;
}

.lt-ie8 .overlay {
  visibility: hidden;
  z-index: 100;
}

/* Dashboard Tab */
.dashboard-tab {
  background: #526c8c;
  display: inline-block;
  height: 50px;
  left: 50%;
  margin-left: -130px;
  padding: 10px;
  position: absolute;
  top: 25px;
  z-index: 19;
}
.dashboard-tab ul.dashboards {
  margin: 0;
  padding: 0;
}
.dashboard-tab ul.dashboards li {
  float: left;
  list-style-type: none;
  margin: 0 10px;
  text-align: center;
}
.dashboard-tab ul.dashboards li h5 {
  color: white;
  margin: 0 0 3px;
}
.dashboard-tab ul.dashboards li a {
  background-image: url("../Images/sprite-sheet.png");
  display: inline-block;
}
.dashboard-tab ul.dashboards li a.billing {
  background-position: 0 -206px;
  height: 23px;
  width: 23px;
}
.dashboard-tab ul.dashboards li a.billing:hover {
  background-position: 0 -157px;
}
.dashboard-tab ul.dashboards li a.apps {
  background-position: -25px -206px;
  height: 24px;
  width: 24px;
}
.dashboard-tab ul.dashboards li a.apps:hover {
  background-position: -25px -156px;
}
.dashboard-tab ul.dashboards li a.security {
  background-position: -51px -206px;
  height: 21px;
  width: 23px;
}
.dashboard-tab ul.dashboards li a.security:hover {
  background-position: -51px -157px;
}
.dashboard-tab ul.dashboards li a.ops {
  background-position: -74px -206px;
  height: 22px;
  width: 22px;
}
.dashboard-tab ul.dashboards li a.ops:hover {
  background-position: -74px -157px;
}
.dashboard-tab ul.dashboards li a.custom {
  background-position: -98px -206px;
  height: 22px;
  width: 22px;
}
.dashboard-tab ul.dashboards li a.custom:hover {
  background-position: -98px -157px;
}
.dashboard-tab .open-handle {
  background: url("../Images/sprite-sheet.png") 0 -72px;
  bottom: -42px;
  display: inline-block;
  height: 42px;
  left: 50%;
  margin-left: -75px;
  outline: none;
  position: absolute;
  width: 150px;
}

.available-dashboards {
  display: inline-block;
  float: left;
  margin-left: 20px;
  text-align: center;
  width: 300px;
}
.available-dashboards h5 {
  color: #526c8c;
  font-family: 'avantgarde_book';
  margin: 0;
}
.available-dashboards .billing-dashboard a {
  background: url("../Images/sprite-sheet.png") 0 -127px;
  display: inline-block;
  height: 23px;
  width: 23px;
}
.available-dashboards .billing-dashboard a:hover {
  background: url("../Images/sprite-sheet.png") 0 -157px;
}
.available-dashboards .apps-dashboard a {
  background: url("../Images/sprite-sheet.png") -25px -127px;
  display: inline-block;
  height: 24px;
  width: 24px;
}
.available-dashboards .apps-dashboard a:hover {
  background: url("../Images/sprite-sheet.png") -25px -156px;
}
.available-dashboards .security-dashboard a {
  background: url("../Images/sprite-sheet.png") -51px -128px;
  display: inline-block;
  height: 21px;
  width: 23px;
}
.available-dashboards .security-dashboard a:hover {
  background: url("../Images/sprite-sheet.png") -51px -157px;
}
.available-dashboards .ops-dashboard a {
  background: url("../Images/sprite-sheet.png") -74px -129px;
  display: inline-block;
  height: 22px;
  width: 22px;
}
.available-dashboards .ops-dashboard a:hover {
  background: url("../Images/sprite-sheet.png") -74px -158px;
}
.available-dashboards .custom-dashboard a {
  background: url("../Images/sprite-sheet.png") -98px -129px;
  display: inline-block;
  height: 22px;
  width: 22px;
}
.available-dashboards .custom-dashboard a:hover {
  background: url("../Images/sprite-sheet.png") -98px -158px;
}
.available-dashboards div[class*=-dashboard] {
  display: inline-block;
  zoom: 1;
  *display: inline;
  height: 59px;
  margin-right: 20px;
  vertical-align: top;
}
.available-dashboards div[class*=-dashboard]:last-child {
  margin-right: 0;
}
.available-dashboards div[class*=-dashboard] h5 {
  color: #a1a1a1;
  font-family: 'avantgarde_light';
  margin-bottom: 3px;
  margin-top: 0;
}

#WidgetModal {
  background: white;
  border: 1px solid #c3c3c3;
  color: #868d9a;
  padding: 10px;
}
#WidgetModal .heading {
  background: #0d1a34;
  height: 15px;
  padding: 5px 7px;
  position: relative;
}
#WidgetModal .heading h3 {
  color: white;
  font-size: 18px;
  line-height: 18px;
  margin: 0;
}
#WidgetModal .heading .close-btn {
  position: absolute;
  right: 5px;
  top: 8px;
}
#WidgetModal .available-widget-container {
  padding: 30px 0 30px 30px;
}
#WidgetModal .available-widget-container a.available-widget.button {
  display: block;
  font-size: 12px;
  margin-top: 5px;
  width: 130px;
}
#WidgetModal .available-widget-container p.title {
  font: bold 12px/17px arial, helvetica, sans-serif;
  margin: 0;
}

.modal {
  border-radius: 0px;
}

.modal-backdrop {
  background: white;
  opacity: 0.85;
}

/* Manage Locations */
.manage-locations {
  background: #526c8c;
  height: 570px;
  margin-top: -275px;
  position: absolute;
  right: -90%;
  top: 50%;
  width: 90%;
  z-index: 20;
}
.manage-locations #map_status_message {
  color: white;
}
.manage-locations .open-handle {
  background: url("../Images/sprite-sheet.png") -156px 0;
  display: inline-block;
  height: 370px;
  left: -42px;
  margin-top: -185px;
  outline: none;
  position: absolute;
  top: 50%;
  width: 44px;
}
.manage-locations #map_canvas {
  height: 480px;
  left: 10px;
  margin-top: -240px;
  position: absolute;
  top: 50%;
  width: 98.266897746967%;
}
.manage-locations #map_canvas #loading_text {
  color: white;
  width: 100%;
  text-align: center;
  position: absolute;
  top: 50%;
}
.manage-locations .legend {
  background: #e26e1e;
  bottom: 0;
  color: white;
  font-size: 12px;
  height: 33px;
  left: 0;
  padding-left: 5%;
  padding-top: 5px;
  position: absolute;
  width: 100%;
}
.manage-locations .legend .map-last-update {
  display: inline-block;
}
.manage-locations .legend .data-center {
  display: inline-block;
  *display: inline;
  margin-right: 27px;
  zoom: 1;
}
.manage-locations .legend .data-center span {
  background: url("../Images/sprite-sheet.png");
  display: inline-block;
  *display: inline;
  margin-right: 10px;
  vertical-align: -6px;
  zoom: 1;
}
.manage-locations .legend .data-center.grey span {
  background-position: 0 -43px;
  height: 27px;
  width: 32px;
}
.manage-locations .legend .data-center.blue span {
  background-position: -35px -43px;
  height: 27px;
  width: 32px;
}
.manage-locations .legend .status {
  color: white;
  display: inline-block;
  *display: inline;
  margin-right: 14px;
  zoom: 1;
}
.manage-locations .legend .status span {
  background: url("../Images/sprite-sheet.png");
  display: inline-block;
  *display: inline;
  margin-right: 5px;
  vertical-align: -3px;
  zoom: 1;
}
.manage-locations .legend .status.green span {
  background-position: -102px -50px;
  height: 20px;
  width: 12px;
}
.manage-locations .legend .status.red span {
  background-position: -72px -50px;
  height: 20px;
  width: 12px;
}
.manage-locations .legend .status.yellow span {
  background-position: -86px -50px;
  height: 20px;
  width: 12px;
}
.manage-locations .legend .status.grey {
  margin-left: 18px;
}
.manage-locations .legend .status.grey span {
  background-position: -116px -50px;
  height: 20px;
  width: 12px;
}
.manage-locations .location-settings {
  color: white;
  font-size: 12px;
  left: 0;
  line-height: 22px;
  margin-top: 10px;
  padding-left: 1.8%;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: 2;
}
.manage-locations .location-settings input[type=checkbox] + label {
  font: normal 12px/10px arial, helvetica, sans-serif;
  margin-left: 12px;
  vertical-align: 0px;
}
.manage-locations .location-settings .close-btn {
  cursor: pointer;
  display: inline-block;
  margin-top: 3px;
  position: absolute;
  right: 5.979202772964%;
  top: 0;
}
.manage-locations .location-settings .close-btn a {
  display: inline-block;
  vertical-align: -1px;
}
.manage-locations .location-settings .dd-container {
  display: inline-block;
  *display: inline;
  margin-right: 13px;
  margin-top: -3px;
  vertical-align: middle;
  zoom: 1;
}
.manage-locations .location-settings .dd-container:first-child {
  margin-left: 10px;
}
.manage-locations .location-settings .dd-container:nth-of-type(3) {
  margin-left: 10px;
}
.manage-locations .location-settings label {
  color: white;
}

.manage-locations .panel {
  position: absolute;
  height: 100%;
  width: 87%;
  top: 0;
  right: -87%;
  z-index: 30;
  background: #526c8c;
}
.manage-locations .panel .back-to-map {
  bottom: 10px;
  display: none;
  left: 20px;
  position: absolute;
}
.manage-locations .panel .tabs-container {
  display: block;
  float: right;
  height: 550px;
  padding: 10px;
  position: relative;
  width: 75%;
}
.manage-locations .panel .tabs-container .tab-content {
  background: #fff;
  height: 520px;
  overflow: hidden;
}
.manage-locations .panel .tabs-container .tab-content .tab-pane {
  padding: 20px;
  overflow-y: scroll;
  height: 100%;
  word-wrap: break-word;
}
.manage-locations .panel .tabs-container .table-nav {
  display: table;
  margin: 0 auto;
}
.manage-locations .panel .tabs-container .table-nav .nav-tabs {
  border: none;
  margin-bottom: 1px;
}
.manage-locations .panel .tabs-container .table-nav .nav-tabs li {
  margin-left: 20px;
}
.manage-locations .panel .tabs-container .table-nav .nav-tabs li a {
  background: #526c8c;
  border: none !important;
  border-radius: 0;
  color: white;
  font: normal 14px/14px "avantgarde_light", arial, helvetica, sans-serif;
  padding: 8px 10px 8px;
}
.manage-locations .panel .tabs-container .table-nav .nav-tabs li.active a {
  background: white;
  color: #526c8c;
}
.manage-locations .panel .tabs-container .table-nav .nav-tabs li:hover a {
  background: white;
  color: #526c8c;
}

.manage-locations .location-information {
  display: block;
  float: left;
  padding-left: 20px;
  width: 20.02348796241926%;
}
.manage-locations .location-information h2 {
  color: white;
  line-height: 125%;
  margin-top: 15px;
}
.manage-locations .location-information p {
  color: #c3c3c3;
  font-size: 14px;
}
.manage-locations .location-information p a {
  color: #c3c3c3;
  text-decoration: underline;
}
.manage-locations .location-information .address {
  margin-bottom: 25px;
}
.manage-locations .location-information hr {
  margin: 20px 0;
}
.manage-locations .location-information .button {
  font-size: 1em;
  margin-bottom: 10px;
}

.manage-locations.open .open-handle {
  background: url("../Images/sprite-sheet.png") -156px -374px;
  left: -22px;
  z-index: 30;
}

.map-modal-overlay {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(20, 20, 20, 0.6);
  z-index: 1;
}

.map-modal {
  position: absolute;
  width: 440px;
  margin: -80px 0 0 -220px;
}

.map-popup-header {
  background-color: #F6F6F6;
  padding: 7px 10px;
  border-bottom: solid 1px #eeeeee;
}
.map-popup-header p {
  font-family: "avantgarde_light", arial;
  font-size: 14px;
  font-weight: bold;
  color: #333;
  margin: 0;
}

.map-popup-body {
  background-color: white;
  padding: 8px 10px;
}
.map-popup-body p {
  font-size: 12px;
  margin-bottom: 2px;
}

.map-popup-body p {
  font-size: 12px;
  margin-bottom: 2px;
}
.map-popup-body p.map-address {
  margin-bottom: 8px;
}

.manage-locations .location-information a {
  cursor: pointer;
}

.manage-locations .location-detail-content {
  font-size: 15px;
}

.manage-locations .location-detail-content h3 {
  display: block;
  width: 100%;
  color: #526c8c;
  border-bottom: solid 1px #999999;
}

.manage-locations .location-detail-content .green-bar {
  display: inline-block;
  background-color: #090;
  margin-top: 1px;
}

.manage-locations .location-detail-content .red-bar {
  display: inline-block;
  background-color: #C00;
  margin-top: 1px;
}

.manage-locations .location-detail-content .gray-bar {
  display: inline-block;
  background-color: #999;
  margin-top: 1px;
}

.lt-ie9 .map-modal-overlay {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99222222,endColorstr=#99222222);
}

.map-modal-container {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}

.map-filter-controls {
  display: none;
}

.map-last-update {
  display: inline-block;
  *display: inline;
  margin-left: 20px;
}

.map-last-update span.clock-icon {
  background: url("../Images/glyphicons-halflings-white.png") -49px -25px;
  width: 12px;
  height: 12px;
  display: inline-block;
  *display: inline;
  margin-right: 6px;
  vertical-align: -1px;
  zoom: 1;
}

.map-detail-billing-account {
  width: 95%;
  margin-bottom: 20px;
}

.map-detail-billing-account select {
  width: 110%;
  padding-right: 0;
}

/* Cloud Services */
.cloud-services {
  background: #526c8c;
  height: 570px;
  margin-top: -275px;
  position: absolute;
  left: -90%;
  top: 50%;
  width: 90%;
  z-index: 20;
}
.cloud-services .close-btn {
  color: white;
  cursor: pointer;
  display: inline-block;
  font-size: 12px;
  margin-top: 10px;
  position: absolute;
  right: 17px;
}
.cloud-services .close-btn a {
  display: inline-block;
  vertical-align: -1px;
}
.cloud-services .account-info {
  float: left;
  height: 545px;
  margin: 13px 19px;
  width: 20.01733102253%;
}
.cloud-services .tabs-container {
  float: left;
  margin-top: 8px;
  width: 75.736568457539%;
}
.cloud-services .tabs-container .table-nav {
  display: table;
  margin: 0 auto;
}
.cloud-services .tabs-container .table-nav .nav-tabs {
  margin-bottom: 0;
  text-align: center;
}
.cloud-services .tabs-container .table-nav .nav-tabs li {
  margin-bottom: 0;
  margin-left: 20px;
}
.cloud-services .tabs-container .table-nav .nav-tabs li a {
  background: #526c8c;
  border: none !important;
  border-radius: 0;
  color: white;
  font: normal 14px/14px "avantgarde_light", arial, helvetica, sans-serif;
  padding: 8px 10px 8px;
}
.cloud-services .tabs-container .table-nav .nav-tabs li a:hover {
  background: white;
  color: #526c8c;
}
.cloud-services .tabs-container .table-nav .nav-tabs .active a {
  background: white;
  color: #526c8c;
}
.cloud-services .tabs-container .tab-content {
  background: white;
  height: 505px;
  margin-top: -1px;
  padding: 10px;
}
.cloud-services .open-handle {
  background: url("../Images/sprite-sheet.png") -200px 0;
  display: inline-block;
  height: 370px;
  right: -42px;
  margin-top: -185px;
  outline: none;
  position: absolute;
  top: 50%;
  width: 44px;
}

.cloud-services.open .open-handle {
  background: url("../Images/sprite-sheet.png") -200px -374px;
  margin-right: 12px;
  z-index: 30;
}

/* primary nav styles */
#header {
  z-index: 39;
}
#header .navbar {
  position: relative;
  z-index: 39;
}
#header .navbar .navbar-inner {
  height: 95px;
}
#header .navbar .navbar-inner .container {
  max-width: 1170px;
}

#primary-nav {
  background-color: #0d1a34;
  float: left;
  margin-top: 50px;
  position: relative;
  width: 60%;
  z-index: 40;
}

#primary-nav ul {
  margin-left: 0;
  z-index: 2;
}

#primary-nav li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  font-family: "avantgarde_light", arial;
  margin-left: 55px;
  position: relative;
  z-index: 40;
}
#primary-nav li.selected > a {
  color: #e65717;
}
#primary-nav li .subnav {
  display: none;
  position: absolute;
  top: 0;
  background-color: #0d1a34;
  padding: 55px 20px 20px;
  margin-left: -20px;
  width: 200px;
  z-index: -1;
}
#primary-nav li .subnav.products {
  -moz-column-count: 2;
  -moz-column-gap: 40px;
  -webkit-column-count: 2;
  -webkit-column-gap: 40px;
  column-count: 2;
  column-gap: 40px;
  width: 500px;
}

.no-csscolumns #primary-nav li .subnav.products {
  display: block;
  -moz-column-count: 2;
  -moz-column-gap: 40px;
  -webkit-column-count: 2;
  -webkit-column-gap: 40px;
  column-count: 2;
  column-gap: 40px;
  visibility: hidden;
  width: 500px;
}

#primary-nav li .subnav.products li.category {
  color: #90a3bb;
  font: normal 16px/16px "avantgarde_light", arial, helvetica, sans-serif;
  margin-bottom: 5px;
  margin-top: 20px;
}
#primary-nav li .subnav.products li.category:nth-child(2n) {
  margin-top: 10px !important;
}

.lt-ie8 #primary-nav li .subnav {
  left: 0;
  top: 0;
  width: 200px;
}
.lt-ie8 #primary-nav li .subnav li {
  width: 100%;
}

.lt-ie9 .products .first.column {
  margin-right: 20px;
}

#primary-nav li.slvzr-first-child {
  margin-left: 0;
}

#primary-nav li:first-child {
  margin-left: 0;
}

#primary-nav li a {
  color: white;
  font-size: 16px;
  text-decoration: none;
}

#primary-nav li a:hover {
  color: #e65717;
}

#primary-nav li a .nav-arrow {
  background: url("../Images/sprite-sheet.png") -135px -2px;
  width: 16px;
  height: 9px;
  display: block;
  outline: 0px;
  margin: auto;
  margin-top: 0;
}

/*#primary-nav li .subnav {
  display: none;
  position: absolute;
  top: 40px;
  background-color: $blue-dark;
  padding: 20px;
  margin-left: -20px;
}*/
#primary-nav li .subnav li {
  display: block;
  margin: 0;
}

#primary-nav li .subnav li a {
  font: normal 16px/26px "avantgarde_light", arial, sans-serif;
  padding-left: 13px;
  position: relative;
}

#primary-nav li .subnav li a span.arrow {
  background: url("../Images/sprite-sheet.png") -20px -22px;
  height: 7px;
  left: 0;
  position: absolute;
  top: 3px;
  width: 4px;
}

/* IE7 Navigation fix */
.lt-ie8 #primary-nav li:first-child {
  width: 147px;
}
.lt-ie8 #primary-nav li:nth-child(2) {
  width: 74px;
}
.lt-ie8 #primary-nav li:nth-child(3) {
  width: 42px;
}
.lt-ie8 #primary-nav li:nth-child(4) {
  width: 66px;
}
.lt-ie8 #primary-nav li:last-child {
  width: 102px;
}
.lt-ie8 #primary-nav li .subnav {
  list-style-type: none;
}

/* Tab styling for sub navigation */
.tab-container {
  display: block;
  margin: 0 auto;
  position: relative;
  width: 95%;
}
.tab-container .top-shadow {
  display: block;
  height: 13px;
  margin-left: -14px;
  position: absolute;
  top: -13px;
  width: 478px;
}
.tab-container .content {
  padding: 20px;
  position: relative;
  width: 80%;
}

.tabs {
  position: relative;
  width: 13.418803418803%;
}
.tabs .left-shadow {
  display: inline-block;
  height: 100%;
  margin-left: -14px;
  margin-right: 0;
  position: absolute;
  top: 0px;
}

.tab-menu {
  display: inline-block;
  position: relative;
  width: 100%;
}
.tab-menu .content-shadow {
  position: absolute;
  height: 100%;
  margin-top: -2px;
  min-height: 221px;
  right: 0;
}
.tab-menu ul {
  margin: 0;
  padding: 0;
  position: relative;
  width: 100%;
}
.tab-menu ul li {
  background: #e1e1e1;
  border-bottom: 1px solid white;
  list-style-type: none;
  padding: 8px 10px 7px;
  text-align: right;
}
.tab-menu ul li.selected {
  background: #fff;
  color: #526c8c;
}
.tab-menu ul li:hover {
  background: #fff;
  color: #526c8c;
}
.tab-menu ul li a {
  color: #464646;
  font-size: 14px;
  font-family: "avantgarde_light", arial;
  line-height: 100%;
}

.lt-ie8 .top-shadow, .lt-ie8 .left-shadow, .lt-ie8 .content-shadow {
  display: none;
}

.lt-ie8 .tab-container {
  border-top: 1px solid #f2f2f2;
}
.lt-ie8 .tab-menu ul li.active {
  border: 1px solid #f2f2f2;
}
.lt-ie8 .tab-menu ul li:hover {
  border: 1px solid #f2f2f2;
}

/* Login Form */
.login {
  margin-top: -200px;
  position: relative;
  top: 50%;
}
.login .mylink {
  margin-bottom: 25px;
}

.login-form {
  position: relative;
  text-align: right;
}
.login-form h3 {
  color: #526c8c;
  margin-top: 25px;
  padding-right: 10%;
}
.login-form img.el-business {
  margin: 75px 0 0;
}

.login-form img {
  margin-right: 7px;
}

.login-form input[type=text], .login-form input[type=password] {
  display: block;
  width: 95%;
}

.login-form .forget {
  display: block;
  font: normal 12px/12px arial, helvetica, sans-serif;
  margin: -3px 7px 10px 0;
}

.login-form .remember {
  margin-top: 13px;
}

.login-form .button {
  display: inline-block;
  margin: 10px 7px 0 0;
  padding: 2px 20px 0px 10px;
}

.login-form .submit {
  display: inline-block;
  margin-top: 0;
  position: relative;
}
.login-form .submit input {
  line-height: 20px;
}
.login-form .submit span {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: 16px;
  top: 21px;
  border-width: 6px 0px 6px 6px;
  border-style: solid;
  border-color: transparent #e65717;
}

.logged-in {
  float: left;
  margin-top: 25px;
  width: 18%;
}
.logged-in ul {
  list-style-type: none;
  margin-left: 0;
}

.branding {
  background: url("../Images/logo.jpg") top left no-repeat;
  display: block;
  float: none;
  height: 40px;
  margin-left: 0;
  text-indent: -9999px;
  width: 117px;
}

.welcome {
  color: #90a3bb;
  font-size: 10px;
  line-height: 12px;
}

.welcome a {
  color: white;
}

.welcome a:hover {
  color: #e65717;
}

/* http://responsiveslides.com v1.54 by @viljamis */
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
}

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
}

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
}

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
}

.rslides_tabs {
  margin-top: 15px;
  text-align: center;
}
.rslides_tabs li {
  background: url("../Images/bullets.png") 0 0;
  height: 22px;
  margin: 0 3px;
  width: 22px;
  display: inline-block;
  zoom: 1;
  *display: inline;
}
.rslides_tabs li a {
  display: block;
  position: relative;
  height: 22px;
  outline: none;
  text-indent: -9999px;
  width: 22px;
}
.rslides_tabs li.rslides_here {
  background: url("../Images/bullets.png") 0 -22px;
}

.search {
  float: right;
  margin-top: 23px;
  position: relative;
  text-align: right;
  width: 21%;
  z-index: 41;
}

.search .chat-support {
  background: url("../Images/talk-bubble.png") top right no-repeat;
  color: white;
  display: inline-block;
  font: normal 12px/12px "avantgarde_book", arial, sans-serif;
  height: 12px;
  margin-right: -2px;
  padding-right: 23px;
  padding-top: 8px;
}

.search .chat-support:hover {
  color: #e65717;
}

.search-box {
  margin-top: 3px;
  position: relative;
}

.search-box input {
  border-radius: 0;
  font: normal 14px/16px "avantgarde_book", arial, sans-serif;
  height: 14px;
  padding: 6px 4px 2px 25px;
  width: 180px;
}

.search-box .search-btn {
  position: absolute;
  top: 9px;
  right: 195px;
}

/* dashboard widget styles */
#widgets {
  margin-top: 30px;
  text-align: center;
}

.widget-container {
  display: inline-block;
  *display: inline;
  float: left;
  width: 274px;
  height: 274px;
  padding: 2px;
  border: 1px solid #c3c3c3;
  margin-bottom: 12px;
  margin-right: 12px;
  text-align: left;
  zoom: 1;
}

.widget {
  background-color: whitesmoke;
  height: 262px;
  padding: 6px;
}

.widget .heading {
  background-color: #0d1a34;
  height: 15px;
  padding: 5px 7px;
  position: relative;
}

.widget .heading h3 {
  color: white;
  font-size: 18px;
  line-height: 18px;
  margin: 0;
}

.widget .heading .close-btn {
  position: absolute;
  left: 245px;
  top: 8px;
}

.widget .content {
  background-color: whitesmoke;
  padding: 6px;
  height: 194px;
}

.widget .content p {
  line-height: normal;
  margin-bottom: 0;
  margin-left: 10px;
}

.widget .content h3 {
  line-height: 18px;
  margin: 10px 0 0;
}

.widget .footer a {
  float: right;
  line-height: 12px;
}

.widget .footer .submit {
  position: relative;
  float: right;
  line-height: 12px;
  margin: 0;
}

.widget-placeholder {
  background: black;
  border: 1px dashed #c3c3c3;
  display: inline-block;
  height: 280px;
  height: 1px !important;
  width: 280px;
}

.ui-sortable-placeholder {
  background: black;
  display: inline-block;
  height: 280px;
  height: 1px !important;
  width: 280px;
}

.account-info .content {
  color: #000;
  font: normal 12px/15px arial, helvetica, sans-serif;
}
.account-info .content label {
  margin-top: 35px;
}

.billing-alerts .content p {
  display: inline-block;
  font: normal 18px/24px "avantgarde_light";
  position: relative;
  text-align: right;
  vertical-align: middle;
  width: 105px;
}
.billing-alerts .content span {
  color: #e26e1e;
  display: inline-block;
  font-family: 'avantgarde_light';
  font-size: 100px;
  line-height: 90%;
}

#WidgetModal {
  padding: 10px;
}

.contact-reasons {
  margin: 0;
  padding: 0;
}
.contact-reasons li {
  list-style-type: none;
}

#divContactForm {
  margin-top: 20px;
  position: relative;
}
#divContactForm table {
  margin-top: 10px;
}
#divContactForm table tr td {
  max-width: 500px;
}

/* pager bar styles */
.pager-bar {
  background-color: #e65717;
  margin-bottom: 5px;
  width: 100%;
  height: 28px;
  font-size: 12px;
  color: white;
  position: relative;
}
.pager-bar .results {
  float: right;
  line-height: 28px;
  margin-right: 10px;
}
.pager-bar .results a {
  color: white;
  cursor: pointer;
}
.pager-bar .results a.active {
  color: #F9B98D;
}
.pager-bar .paging_full_numbers {
  display: inline-block;
  height: 28px;
  line-height: 32px;
  margin: -3px 0 0 10px;
}
.pager-bar .paging_full_numbers a {
  cursor: pointer;
  vertical-align: middle;
}
.pager-bar .paging_full_numbers span a {
  color: white;
  line-height: 28px;
  padding: 2px;
  text-decoration: none;
}
.pager-bar .paging_full_numbers span a:hover {
  color: #f9b98d;
  text-decoration: underline;
}
.pager-bar .paging_full_numbers span a.paginate_active {
  color: #f9b98d;
}
.pager-bar .paging_full_numbers span a.paginate_button.paginate_button_disabled {
  opacity: 0.50;
}
.pager-bar .paging_full_numbers .first {
  background: url(../Images/sprite-sheet.png) 0 -195px;
  display: inline-block;
  height: 8px;
  margin-right: 5px;
  margin-top: 1px;
  text-indent: -9999px;
  width: 10px;
}
.pager-bar .paging_full_numbers .last {
  background: url(../Images/sprite-sheet.png) -11px -195px;
  display: inline-block;
  height: 8px;
  margin-left: 5px;
  margin-top: 1px;
  text-indent: -9999px;
  width: 10px;
}
.pager-bar .paging_full_numbers .previous {
  background: url(../Images/sprite-sheet.png) 0 -184px;
  display: inline-block;
  height: 8px;
  margin-right: 5px;
  margin-top: -1px;
  text-indent: -9999px;
  width: 5px;
}
.pager-bar .paging_full_numbers .next {
  background: url(../Images/sprite-sheet.png) -6px -184px;
  display: inline-block;
  height: 8px;
  margin-left: 5px;
  margin-top: -1px;
  text-indent: -9999px;
  width: 5px;
}

.pager-bar .pager {
  float: left;
  margin: 0;
  text-align: left;
}

.pager-bar .pager .pager-arrow a {
  background-color: transparent;
  border: none;
  border-radius: 0;
  content: "";
  display: block;
  width: 0;
  height: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  margin-top: -7px;
  border-style: solid;
  border-color: transparent white;
}

.pager-bar .pager .pager-bar .pager .left-arrow {
  float: left;
}

.pager-bar .pager .pager-bar .pager .right-arrow {
  float: left;
}

.pager-bar .pager .left-arrow a {
  border-width: 6px 6px 6px 0px;
  margin-left: 10px;
}

.pager-bar .pager .right-arrow a {
  border-width: 7px 0px 6px 6px;
  margin-left: 7px;
}

.pager-bar .pager .pager-text {
  margin-left: 22px;
  margin-top: 8px;
  float: left;
}

.pager-bar .results-per-page {
  float: right;
  margin-top: 8px;
  margin-right: 10px;
}

.pager-bar .results-per-page a {
  color: white;
  text-decoration: none;
  padding: 0 3px;
}

.pager-bar .results-per-page a.selected {
  color: #c3c3c3;
}

.filter {
  background: #e1e1e1;
  margin-bottom: 5px;
  padding: 20px;
  position: relative;
}
.filter h3 {
  height: 18px;
}
.filter .submit {
  float: right;
  position: relative;
}

.text-search {
  float: left;
  margin-bottom: 20px;
  margin-right: 30px;
}
.text-search input[type=text] {
  width: 150px;
}
.text-search h3 {
  color: #868d9a;
  line-height: 100%;
  margin: 0;
}

.filter_checkbox_list {
  float: left;
  margin-bottom: 20px;
  margin-right: 30px;
  position: relative;
}
.filter_checkbox_list label {
  position: relative;
  top: 4px;
}
.filter_checkbox_list h3 {
  color: #868d9a;
  line-height: 100%;
  margin: 0 0 5px;
}

.accounts {
  float: left;
  margin-bottom: 20px;
  margin-right: 30px;
}
.accounts h3 {
  color: #868d9a;
  line-height: 100%;
  margin: 0;
}

.dataTable {
  margin-bottom: 0;
}
.dataTable thead tr th[role=columnheader] {
  cursor: pointer;
}

.dataTables_filter {
  display: none;
}

.dataTables_length {
  display: none;
}

.dataTables_info {
  display: none;
}
.dataTables_info + .dataTables_paginate {
  display: none;
}

.dataTables_wrapper .pagination {
  display: none;
}

.filter_date_range {
  float: left;
  margin-bottom: 20px;
  width: 445px;
}
.filter_date_range h3 {
  color: #868d9a;
  line-height: 100%;
  margin: 0;
}
.filter_date_range .date-range {
  display: inline-block;
  font-size: 12px;
  width: 100%;
}
.filter_date_range .submit {
  margin: 0;
  position: relative;
}
.filter_date_range input[type=text] {
  margin-left: 5px;
  margin-right: 15px;
  width: 79px;
}
.filter_date_range input[type=text] + img {
  margin-right: 40px;
}

#flt_txt_end_Date + img {
  margin-right: 0;
}

.lt-ie8 .accounts {
  float: left;
}
.lt-ie8 .filter_date_range {
  float: left;
}
.lt-ie8 .submit {
  display: inline;
  float: right;
}

#ui-datepicker-div {
  background: #fff;
  display: none;
  padding: 20px;
}

.view-pay-bill {
  border: 1px solid #0d1a34;
  font-size: 0.857em;
  padding-bottom: 50px;
}
.view-pay-bill .header {
  background-color: #0d1a34;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px;
  width: 100%;
}
.view-pay-bill .header label {
  color: white;
}
.view-pay-bill .header .accounts {
  float: left;
  margin-right: 3.75%;
}
.view-pay-bill .header .accounts form {
  margin: 10px 0 0;
}
.view-pay-bill .header .amount-due {
  display: inline-block;
  float: none;
}
.view-pay-bill .header .amount-due h1 {
  font-size: 3.429em;
  margin-top: 5px;
}
.view-pay-bill .header .actions {
  float: right;
  height: 100%;
  margin-top: 10px;
}
.view-pay-bill .header .actions .button {
  font-size: 1em;
  padding: 5px 20px 5px 10px;
}
.view-pay-bill .content {
  display: block;
  margin: 0 auto;
  width: 80%;
}
.view-pay-bill .content .account-details {
  float: left;
  width: 50%;
}
.view-pay-bill .content .account-details label {
  display: block;
  margin-top: 20px;
}
.view-pay-bill .content .account-details .service-address {
  line-height: normal;
}
.view-pay-bill .content .account-details .view-invoices .invoice-date label {
  display: inline-block;
  font: normal 12px/12px arial, helvetica, sans-serif !important;
  margin-right: 15px;
}
.view-pay-bill .content .account-details .view-invoices form .invoice-download label {
  display: inline-block;
  font: normal 12px/12px arial, helvetica, sans-serif !important;
  margin-right: 15px;
}
.view-pay-bill .content .account-summary {
  float: left;
  width: 50%;
}
.view-pay-bill .content .account-summary .current {
  margin-top: 35px;
}
.view-pay-bill .content .account-summary label {
  border-bottom: 1px solid #e1e1e1;
  display: block;
  margin-top: 20px;
  padding-bottom: 5px;
}
.view-pay-bill .content .account-summary dl {
  margin: 10px 0 0;
  width: 100%;
}
.view-pay-bill .content .account-summary dl.total {
  background: #e1e1e1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 20px;
  padding: 10px;
}
.view-pay-bill .content .account-summary dl dt {
  float: left;
  font-weight: normal;
  line-height: normal;
}
.view-pay-bill .content .account-summary dl dt.bold {
  font-weight: bold;
}
.view-pay-bill .content .account-summary dl dd {
  float: right;
  line-height: normal;
}
.view-pay-bill .content .account-summary dl dd.bold {
  font-weight: bold;
}

.my-payment-options {
  /*border: 1px solid #0d1a34;*/
  font-size: 0.857em;
  padding-bottom: 50px;
}
.my-payment-options .header {
  /*background-color: #0d1a34;*/
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px;
  width: 100%;
}
.my-payment-options .header label {
  /*color: white;*/
}
.my-payment-options .header .accounts {
  float: left;
  margin-right: 3.75%;
}
.my-payment-options .header .accounts form {
  margin: 10px 0 0;
}
.my-payment-options .header .actions {
  float: right;
  height: 100%;
  margin-top: 35px;
}
.my-payment-options .content {
  display: block;
  margin: 0 auto;
  width: 90%;
}
.my-payment-options .content .highlight {
  background-color: #526c8c !important;
}
.my-payment-options .content .option {
  float: left;
  border: 1px solid #0d1a34;
  margin: 10px;
  width: 45%;
  height: 250px;
}
.my-payment-options .content .option .button {
  font-size: 1em;
  padding: 5px 20px 5px 10px;
}
.my-payment-options .content .option .header {
  background-color: #526c8c;
  text-align: center;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0px;
  padding: 3px 0px 0px 0px;
}
.my-payment-options .content .option .header label {
  color: #e1e1e1;
  font-weight: bold;
}
.my-payment-options .content .option .content {
  padding: 20px;
  /*margin: 10px;*/
}
.my-payment-options .content .option .content .highlight {
  color: #e1e1e1 !important;
}
.my-payment-options .content .option .content label {
  font-weight: bold;
}
.my-payment-options .content .option .content hr {
  border-top: 1px solid #526c8c;
}
.my-payment-options .content .default {
  background-color: #e1e1e1;
}

.view-invoice .invoice-content {
  margin: 20px;
}

.view-invoice .invoice-content .account-summary label {
  border-bottom: 1px solid #e1e1e1;
  display: block;
  margin-top: 20px;
  padding-bottom: 5px;
}

.view-invoice .invoice-content .account-summary dl {
  margin: 10px 0 0;
  width: 100%;
}

.view-invoice .invoice-content .account-summary dl.total {
  background: #e1e1e1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 20px;
  padding: 10px;
}

.view-invoice .invoice-content .account-summary dl dt {
  float: left;
  font-weight: normal;
  line-height: normal;
}

.view-invoice .invoice-content .account-summary dl dt.bold {
  font-weight: bold;
}

.view-invoice .invoice-content .account-summary dl dd {
  float: right;
  line-height: normal;
}

.view-invoice .invoice-content .account-summary dl dd.bold {
  font-weight: bold;
}

#BillingInquiryModal {
  position: absolute;
  left: 35%;
  top: 35%;
  width: 60%;
  height: 60%;
  overflow: auto;
}

#BillingInquiry {
  padding: 20px;
}

.view-billing-inquiry {
  font-size: 0.857em;
  padding-bottom: 50px;
}

.view-billing-inquiry .billing-inquiry {
  border: 1px solid #e1e1e1;
}

.view-billing-inquiry .button {
  font-size: 1em;
  padding: 5px 20px 5px 10px;
}

.view-billing-inquiry .billing-inquiry .header {
  background-color: #e1e1e1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px;
  width: 100%;
}

.view-billing-inquiry .billing-inquiry .content {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.view-billing-inquiry .billing-inquiry .comment {
  padding: 20px;
}

.view-billing-inquiry .post-reply {
  margin-top: 20px;
}

.view-billing-inquiry .post-reply .content {
  display: block;
  margin: 0 auto;
  width: 100%;
}

.auto-payment {
  /*border: 1px solid #0d1a34;*/
  font-size: 0.857em;
  padding-bottom: 50px;
}

.auto-payment .header {
  /*background-color: #0d1a34;*/
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px;
  width: 100%;
}

.auto-payment .header .accounts {
  float: left;
  margin-right: 3.75%;
}

.auto-payment .header label {
  /*color: white;*/
}

.auto-payment .header .accounts form {
  margin: 10px 0 0;
}

.auto-payment .content {
  display: block;
  margin: 0 auto;
  width: 90% !important;
  /*width: 100% !important;*/
}

.auto-payment .content .highlight {
  background-color: #526c8c !important;
}

.auto-payment .content .payment {
  float: left;
  border: 1px solid #0d1a34;
  margin: 10px;
  background-color: #e1e1e1;
  width: 100%;
}

.auto-payment .content .payment .button {
  font-size: 1em;
  padding: 5px 20px 5px 10px;
}

.auto-payment .content .payment .header {
  background-color: #526c8c;
  text-align: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0px;
  padding: 10px;
}

.auto-payment .content .payment .header label {
  color: #e1e1e1;
  font-weight: bold;
}

.auto-payment .content .payment .content {
  width: 97% !important;
  padding: 0px !important;
  margin: 10px;
}

.auto-payment .content .payment .content .highlight {
  color: #e1e1e1 !important;
}

.view-invoice .invoice-content {
  margin: 20px;
}

.view-invoice .invoice-content .account-summary label {
  border-bottom: 1px solid #e1e1e1;
  display: block;
  margin-top: 20px;
  padding-bottom: 5px;
}

.view-invoice .invoice-content .account-summary dl {
  margin: 10px 0 0;
  width: 100%;
}

.view-invoice .invoice-content .account-summary dl.total {
  background: #e1e1e1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 20px;
  padding: 10px;
}

.view-invoice .invoice-content .account-summary dl dt {
  float: left;
  font-weight: normal;
  line-height: normal;
}

.view-invoice .invoice-content .account-summary dl dt.bold {
  font-weight: bold;
}

.view-invoice .invoice-content .account-summary dl dd {
  float: right;
  line-height: normal;
}

.view-invoice .invoice-content .account-summary dl dd.bold {
  font-weight: bold;
}

.steps .step {
  float: left;
  margin-right: 15px;
}
.steps ~ form div {
  margin-bottom: 20px;
}

.site-access .days {
  margin-bottom: 20px;
}
.site-access .days div {
  float: left;
  margin-bottom: 0;
  width: 200px;
}
.site-access .days div span {
  display: block;
}
.site-access .time {
  margin-bottom: 20px;
}
.site-access .time div {
  float: left;
  margin-bottom: 0;
  width: 200px;
}
.site-access .time div span {
  display: block;
}

.issue-container {
  margin-top: 15px;
}
.issue-container label {
  margin-right: 10px;
}
.issue-container label input[type=radio] {
  margin-right: 0;
  position: relative;
  vertical-align: text-top;
}

#divQuestions input[type=text] {
  margin-left: 10px;
}
#divQuestions select {
  margin-left: 10px;
}
#divQuestions .styled-select {
  display: inline-block;
  margin: 0 10px;
}

.submit-actions .submit {
  float: left;
  margin-right: 20px;
}

#SupportTicketModal {
  position: absolute;
  left: 35%;
  top: 35%;
  width: 55%;
  height: 40%;
  overflow: auto;
}

#SupportTicket {
  padding: 20px;
}

/* Footer (Sticky) */
#body {
  min-height: 750px;
  height: auto !important;
  height: 750px;
}

#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -71px;
  overflow: hidden;
  position: relative;
  width: auto;
}

#push {
  height: 71px;
  position: relative;
  z-index: -1;
}

.lt-ie8 #wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -74px;
  overflow: hidden;
  position: relative;
  width: auto;
}

.lt-ie8 #push {
  height: 78px;
}

#footer {
  height: 37px;
  background: #0d1a34;
  padding: 17px;
  color: #90a3bb;
  font: normal 10px/10px arial, sans-serif;
  position: relative;
  z-index: 2;
}

#footer p {
  color: #90a3bb;
  font: normal 10px/10px arial, sans-serif;
  margin-bottom: 5px;
}

#footer a {
  color: #90a3bb;
}

#footer a:hover {
  color: #e65717;
}

#footer .divider {
  vertical-align: 1px;
}

.el-business {
  text-align: right;
}

.el-business a {
  background: url("../Images/sprite-sheet.png") 249px 0px;
  display: inline-block;
  height: 33px;
  width: 164px;
}

html.lt-ie8 {
  height: 100%;
  min-height: 100%;
  overflow: auto;
}

html.lt-ie8 body {
  height: auto !important;
  height: 100%;
  min-height: 100%;
  overflow: hidden;
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
}
/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */
}
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */
}
/* iPhone 4 */
@media only screen and (min-device-width: 640px) and (max-device-width: 960px) {
  /* Styles */
}
/* iPhone 5 */
@media only screen and (min-device-width: 640px) and (max-device-width: 1136px) {
  /* Styles */
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
  body {
    min-width: 1024px;
    overflow-x: scroll;
  }
}
/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
  body {
    min-width: 1024px;
    overflow-x: scroll;
  }

  .navbar {
    margin-left: -20px;
    min-width: 1024px;
  }

  .navbar .container {
    min-width: 1000px;
  }

  .navbar-inner {
    padding: 0 20px;
  }

  .header .container {
    margin: 0 auto;
    width: 960px;
  }

  #wrap {
    width: 100%;
  }
  #wrap .container {
    margin: 0 auto;
    width: 960px;
  }

  .manage-locations .location-settings {
    padding-left: 1.8%;
  }
  .manage-locations .location-settings .close-btn {
    display: none;
  }
  .manage-locations .legend {
    padding-left: 5%;
  }

  .cloud-services div.close-btn {
    display: none;
  }
  .cloud-services .tabs-container {
    width: 75%;
  }

  #primary-nav li {
    margin-left: 35px;
  }
}
/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: portrait) {
  /* Styles */
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */
}
/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
}
/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
}
/* Large desktop */
@media (min-width: 1200px) {
  .login-form label {
    font-size: 18px;
  }
}
@media (min-width: 1025px) and (max-width: 1199px) {
  body {
    height: 100%;
    min-height: 800px;
  }

  .container {
    max-width: 1170px;
    min-width: 1000px;
  }
}
@media only screen and (max-width: 1170px) {
  .widget-container:nth-of-type(4n+4) {
    margin-right: 12px !important;
  }

  .widget-container:nth-of-type(3n+3) {
    margin-right: 0;
  }

  .login-form label {
    font-family: "avantgarde_book";
    font-size: 14px;
  }
}
@media (min-width: 1024px) and (max-width: 1199px) {
  .search-box .search-btn {
    right: 190px;
  }

  #primary-nav li {
    margin-left: 35px;
  }
}
@media only screen and (min-width: 1024px) and (max-width: 1130px) {
  .manage-locations .location-settings {
    padding-left: 1.8%;
  }
  .manage-locations .location-settings .close-btn {
    display: none;
  }
  .manage-locations .legend {
    padding-left: 5%;
  }

  .cloud-services div.close-btn {
    display: none;
  }
  .cloud-services .tabs-container {
    width: 75%;
  }
}
@media only screen and (max-width: 1024px) {
  body {
    min-width: 1024px;
    overflow-x: scroll;
  }

  html.lt-ie8 {
    height: 100%;
    margin-bottom: 1px;
    overflow: auto;
    width: 1024px;
  }

  html.lt-ie8 body {
    height: 100%;
    margin-bottom: 1px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 980px;
  }

  html.lt-ie8 footer {
    width: 960px;
  }

  html.lt-ie8 footer p {
    margin-bottom: 4px !important;
  }

  html.lt-ie8 footer nav a {
    line-height: 10px;
  }

  html.lt-ie9 {
    height: 100%;
    margin-bottom: 1px;
    overflow: auto;
    width: 1024px;
  }

  html.lt-ie9 body {
    height: 100%;
    margin-bottom: 1px;
    overflow-y: scroll;
    overflow-x: hidden;
    width: 980px;
  }

  html.lt-ie9 footer {
    width: 960px;
  }

  .navbar-inner {
    padding: 0 1.95313%;
  }

  .search-box .search-btn {
    right: 187px;
  }

  #wrap {
    width: 100%;
  }
  #wrap container {
    min-width: 1024px !important;
  }

  #primary-nav li {
    margin-left: 35px;
  }

  .manage-locations .location-settings {
    padding-left: 1.8%;
  }
  .manage-locations .location-settings .close-btn {
    display: none;
  }
  .manage-locations .legend {
    padding-left: 5%;
  }

  .cloud-services div.close-btn {
    display: none;
  }
  .cloud-services .tabs-container {
    width: 75%;
  }
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  /* Styles */
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  /* Styles */
}
/* Landscape phones and down */
@media (max-width: 480px) {
  /* Styles */
}
