/* Clearfix */
.cf {
  /**
   * For IE 6/7 only
   * Include this rule to trigger hasLayout and contain floats.
   */
  *zoom: 1;
}
.cf:before {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
  clear: both;
}

/*#wrap .container {
	@include grid-background;
}*/

html, body {

  height: 100%;
	min-height:100%;
	margin:0;
	padding:0;
}

body {
  -webkit-font-smoothing: subpixel-antialiased;
  font-family: arial;
  font-size:normal;
  color: $black;
}

h1 {
  @include base-avantgarde;
  font-size: 2.857em;
}

h2 {
  @include base-avantgarde;
  font-size: 2em;
}

h3 {
  @include base-avantgarde;
  font-size: 1.286em;
}

h4 {
  @include base-avantgarde;
  font-size: 1em;
}

h5 {
  @include base-avantgarde;
  font-size: 0.857em;
}

p {
  font-family: arial;
  font-size: 0.857em;
  line-height: 1.143em;
  color: $darker-grey;
}

hr {
  border: none;
  border-top: 1px dotted #c6c6c6;
  margin-top: 0.857em;
  margin-bottom: 0.857em;
}

img {
	max-width:100%;
}

/* form styles */
label {
  display: inline-block;
  font-size: 18px;
  @include base-avantgarde;
  color: $blue-grey;
	margin:0;
}

input[type="text"], input[type="password"], input[type="datetime"],
input[type="datetime-local"], input[type="date"], input[type="month"],
input[type="time"], input[type="week"], input[type="number"],
input[type="email"], input[type="url"], input[type="search"],
input[type="tel"], input[type="color"], textarea, select {
  outline: none;
  margin: 5px 0;
  padding: 2px;
  height: 18px;
  border: 1px solid $grey;
  border-radius: 0;
  font-family: arial;
  font-size: 12px;
  color: $darker-grey;
}

select {
	border-radius:none;
  color: $black;
	height:24px;
	margin-top:5px;
	padding:0;
  width: auto;
}

.dd-container {
	height:22px;
	padding:0;
	.dd-select {
		font-size:16px;
		height:22px;
		line-height:16px;
		padding:0;}
	.dd-selected {
		height:16px;
		line-height:16px;
		padding:2px 4px 4px 10px;}
	.dd-selected-text {
		color:$darker-grey !important;
		line-height:12px;}
	.dd-option {
		height:16px;
		line-height:16px;
		.dd-option-text {
			color:$darker-grey !important;
			line-height:16px;}}}
			
.dd-multiselected {
	label {
		text-decoration: line-through;
		color: #999 !important;}}

input[type="checkbox"] {
  display: none;
}

a label span + span.dd-status {
	height: 20px;
	width: 12px;
	padding: 0;
	margin-right: 5px;
}
a label span + span.dd-status.marker-up {
	background-position: -101px -50px;
}
a label span + span.dd-status.marker-down {
	background-position: -71px -50px;
}
a label span + span.dd-status.marker-degraded {
	background-position: -86px -50px;
}
a label span + span.dd-status.marker-not_monitored {
	background-position: -116px -50px;
}

input[type="checkbox"] ~ label span {
  display: inline-block;
  background: url("../Images/sprite-sheet.png") -110px -21px;
  width: 17px;
  height: 17px;
  vertical-align: middle;
  cursor: pointer;
  padding-left: 7px;
  margin-top: -3px;
}

input[type="checkbox"].checked ~ label span {
  background: url("../Images/sprite-sheet.png") -110px 0px;
}

textarea {
  resize: none;
  width: 400px;
  height: 200px;
}

/* Link styles */
a:link, a:visited {
  color: $blue-grey;
}
a:hover, a:active {
  color: $orange;
}

/* color styles */
.white {
  color: $white;
}

.black {
  color: $black;
}

.gray {
  color: $grey;
}

.dark-gray {
  color: $dark-grey;
}

.darker-gray {
  color: $darker-grey;
}

.blue-gray {
  color: $blue-grey;
}

.blue-dark {
  color: $blue-dark;
}

.gray-light {
  color: $grey-light;
}

.orange {
  color: $orange;
}

.red {
	color:$red;
}

/* button styles */
.button {
  border: 1px solid $grey;
  background-color: $blue-grey;
  color: $white;
  display:inline-block;
  font-size: 0.857em;
  font-family: "avantgarde_book";
  line-height:100%;
  position: relative;
  padding: 7px 20px 5px 10px;
  text-transform: uppercase;
  text-decoration: none;
}
.button:hover {
  background-color: $blue-dark;
}
.button span {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: 8px;
  top: 50%;
  margin-top: -6px;
  border-width: 6px 0px 6px 6px;
  border-style: solid;
  border-color: transparent $orange;
}

a.button:link, a.button:visited, a.button:hover, a.button:active {
  color: $white;
}

.close-btn a {
  background: url("../Images/sprite-sheet.png") 0px 0px;
  width: 10px;
  height: 10px;
  display: block;
  outline: 0px;
}

.settings-btn a {
  background: url("../Images/sprite-sheet.png") -14px 0px;
  width: 15px;
  height: 15px;
  display: block;
  outline: 0px;
}

.search-btn a {
  background: url("../Images/sprite-sheet.png") -33px 0px;
  width: 17px;
  height: 16px;
  display: block;
  outline: 0px;
}

.calendar-btn a {
  background: url("../Images/sprite-sheet.png") -53px 0px;
  width: 26px;
  height: 23px;
  display: block;
  outline: 0px;
}

.help-btn a {
  background: url("../Images/sprite-sheet.png") -83px 0px;
  width: 23px;
  height: 21px;
  display: block;
  outline: 0px;
}

.submit {
	bottom:0;
	display:inline-block;
	right:0;
	margin-top:20px;
	position:absolute;
}

.submit span {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  right: 8px;
  top: 50%;
  margin-top: -4px;
  border-width: 6px 0px 6px 6px;
  border-style: solid;
  border-color: transparent $orange;
}


.inline {
	display:inline;
}

.bold {
	font-weight:bold;
}

ul {
  list-style-type: disc;
}

.marketing {
	float:left;
	width:64.957264957265%;}

/* Tables and Grids */
table {
	br {
		height:0;
		line-height:0;
		margin-top:0;
		margin-bottom:0;}
	tr {
		td {
			padding:0 10px 10px 0;
			vertical-align:middle;
			&.highlight {
				background: $blue-grey !important;
			}
			input {
				line-height:100%;
				margin:0;
				vertical-align:middle;}
			input[type=radio] {
				margin:0 3px;
			}
			select {
				margin-bottom:10px;}
			.dd-container {
				margin-top:5px;
				.dd-options {
					max-height:100px;}}}}}

.filter_column {
	#filter {
		display:inline-block;}}


.dataTables_wrapper {
	width:100%;
	.display.table-bordered {
		border:none;
		width:100% !important;
		th, td {
			border-left:none;
			border-right:none;
			border-top:none;
			border-bottom:1px solid $light-grey;}
			th {
				border-bottom:1px solid #898989;}}
	.display.table {
		width:100% !important;
		thead {
			border-top:none;
			/*tr[role=row]:first-child {
				display:none;}*/
			th {
				border-top:none;}}
		input[type=text] {
			min-width: 165px;
			max-width:100%;
			width: 100%;}
		th[role=columnheader] {
			cursor:pointer;
			font:bold 12px/12px arial, helvetica, sans-serif;
			text-decoration:underline;}
			tbody {
				td {
					font:normal 12px/12px arial, helvetica, sans-serif;}
				tr {
					background:#fff;
					&.odd, &.even {
						background:#fff;}}}}}
						
.table-striped tbody tr:nth-child(2n+1) td, .table-striped tbody tr:nth-child(2n+1) th {
	background:#fff;}
	
.autopay {
	.header {
		background:#526c8c;
		color:$white;
		line-height:100%;
		margin:0;
		padding:10px;
		&+div {
			background:$light-grey;
			padding:15px 10px;
			.button {
				margin-left:10px;}}}}
				
.styled-select {
    background:#fff;
    border:1px solid #C3C3C3;
    height:18px;
    margin:5px 0;
    overflow:hidden;
    padding:2px;
    position:relative;
    vertical-align: top;
		select {
	    -webkit-appearance: none;
	    background: none repeat scroll 0 0 transparent;
	    border: none;
	    cursor:pointer;
	    line-height: 12px;
	    margin: 0;
	    outline: none;
	    padding: 3px 20px 0 0;
	    position: absolute;
	    top: -2px;
	    vertical-align: top;
	    z-index: 2;}
		span {
	    border-left: 6px solid transparent;
	    border-right: 6px solid transparent;
	    border-top: 6px solid #E65717;
	    height: 0;
	    margin-top:-3px;
	    position:absolute;
	    right:10px;
	    top:50%;
	    width: 0;
	    z-index:1;}}