.view-pay-bill {
	border:1px solid #0d1a34;
	font-size:0.857em;
	padding-bottom:50px;
	.header {
		background-color: #0d1a34;
		-moz-box-sizing:border-box;
		-webkit-box-sizing:border-box;
		box-sizing:border-box;
		padding:15px;
		width: 100%;
		label {
			color:$white;}
		.accounts {
			float:left;
			margin-right:3.75%;
			form {
				margin:10px 0 0;}}
		.amount-due {
			display:inline-block;
			float:none;
			h1 {
				font-size:3.429em;
				margin-top:5px;}}
		.actions {
			float:right;
			height:100%;
			margin-top:10px;
			.button {
				font-size:1em;
				padding: 5px 20px 5px 10px;}}}
	.content {
		display:block;
		margin:0 auto;
		width:80%;
		.account-details {
			float:left;
			width:50%;
			label {
				display:block;
				margin-top:20px;}
			.service-address {
				line-height:normal;}
			.view-invoices {
				.invoice-date {
					label {
						display:inline-block;
						font:normal 12px/12px arial, helvetica, sans-serif !important;
						margin-right:15px;}}
				form {
					.invoice-download {
						label {
							display:inline-block;
							font:normal 12px/12px arial, helvetica, sans-serif !important;
							margin-right:15px;}}}}}
		.account-summary {
			float:left;
			width:50%;
			.current {
				margin-top:35px;}
			label {
				border-bottom:1px solid $light-grey;
				display:block;
				margin-top:20px;
				padding-bottom:5px;}
			dl {
				margin:10px 0 0;
				width:100%;
				&.total {
					background:$light-grey;
					-moz-box-sizing:border-box;
					-webkit-box-sizing:border-box;
					box-sizing:border-box;
					margin-top:20px;
					padding:10px;}
				dt {
					float:left;
					font-weight:normal;
					line-height:normal;
					&.bold {
						font-weight:bold;}}
				dd {
					float:right;
					line-height:normal;
					&.bold {
						font-weight:bold;}}}}}}
 
.my-payment-options {
  /*border: 1px solid #0d1a34;*/
  font-size: 0.857em;
  padding-bottom: 50px;
	.header {
	  /*background-color: #0d1a34;*/
	  -moz-box-sizing: border-box;
	  -webkit-box-sizing: border-box;
	  box-sizing: border-box;
	  padding: 15px;
	  width: 100%;
		label {
		  /*color: white;*/}
		.accounts {
		  float: left;
		  margin-right: 3.75%;
			form {
			  margin: 10px 0 0;}}
		.actions {
		  float: right;
		  height: 100%;
		  margin-top: 35px;}}
	.content {
	  display: block;
	  margin: 0 auto;
	  width: 90%;
		.highlight {
		  background-color: #526c8c !important;}
		.option {
		  float: left;
		  border: 1px solid #0d1a34;
		  margin: 10px;
		  width: 45%;
		  height: 250px;
			.button {
			  font-size: 1em;
			  padding: 5px 20px 5px 10px;}
			.header {
			  background-color: #526c8c;
			  text-align: center;
			  -moz-box-sizing: border-box;
			  -webkit-box-sizing: border-box;
			  box-sizing: border-box;
			  margin: 0px;
			  padding: 3px 0px 0px 0px;
				label {
				  color: #e1e1e1;
				  font-weight: bold;}}
			.content {
			  padding: 20px;
			  /*margin: 10px;*/
			  	 .highlight  {
  					color: #e1e1e1 !important;}
				label {
				  font-weight: bold;}
				hr {
				  border-top: 1px solid #526c8c;}}}
		.default {
		  background-color: #e1e1e1;}}}

.view-invoice .invoice-content {
    margin: 20px;
}
.view-invoice .invoice-content .account-summary label {
  border-bottom: 1px solid #e1e1e1;
  display: block;
  margin-top: 20px;
  padding-bottom: 5px;
}
.view-invoice .invoice-content .account-summary dl {
  margin: 10px 0 0;
  width: 100%;
}
.view-invoice .invoice-content .account-summary dl.total {
  background: #e1e1e1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 20px;
  padding: 10px;
}
.view-invoice .invoice-content .account-summary dl dt {
  float: left;
  font-weight: normal;
  line-height: normal;
}
.view-invoice .invoice-content .account-summary dl dt.bold {
  font-weight: bold;
}
.view-invoice .invoice-content .account-summary dl dd {
  float: right;
  line-height: normal;
}
.view-invoice .invoice-content .account-summary dl dd.bold {
  font-weight: bold;
}

#BillingInquiryModal {
  position: absolute;
  left: 35%;
  top: 35%;
  width: 60%;
  height: 60%;
  overflow: auto;
}
#BillingInquiry {
  padding: 20px;
}
.view-billing-inquiry {
  font-size: 0.857em;
  padding-bottom: 50px;
}
.view-billing-inquiry .billing-inquiry {
  border: 1px solid #e1e1e1;
}
.view-billing-inquiry .button {
  font-size: 1em;
  padding: 5px 20px 5px 10px;
}
.view-billing-inquiry .billing-inquiry .header {
  background-color: #e1e1e1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px;
  width: 100%;
}
.view-billing-inquiry .billing-inquiry .content {
  display: block;
  margin: 0 auto;
  width: 100%;
}
.view-billing-inquiry .billing-inquiry .comment {
  padding: 20px;
}
.view-billing-inquiry .post-reply {
  margin-top: 20px;
}
.view-billing-inquiry .post-reply .content {
  display: block;
  margin: 0 auto;
  width: 100%;
}
.auto-payment {
  /*border: 1px solid #0d1a34;*/
  font-size: 0.857em;
  padding-bottom: 50px;
}
.auto-payment .header {
  /*background-color: #0d1a34;*/
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 15px;
  width: 100%;
}
.auto-payment .header .accounts {
  float: left;
  margin-right: 3.75%;
}
.auto-payment .header label {
  /*color: white;*/
}
.auto-payment .header .accounts form {
  margin: 10px 0 0;
}
.auto-payment .content {
  display: block;
  margin: 0 auto;
  width: 90% !important;
  /*width: 100% !important;*/
}
.auto-payment .content .highlight {
  background-color: #526c8c !important;
}
.auto-payment .content .payment {
  float: left;
  border: 1px solid #0d1a34;
  margin: 10px;
  background-color: #e1e1e1;
  width: 100%;
}
.auto-payment .content .payment .button {
  font-size: 1em;
  padding: 5px 20px 5px 10px;
}
.auto-payment .content .payment .header {
  background-color: #526c8c;
  text-align: left;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin: 0px;
  padding: 10px;
}
.auto-payment .content .payment .header label {
  color: #e1e1e1;
  font-weight: bold;
}
.auto-payment .content .payment .content {
  width: 97% !important;
  padding: 0px !important;
  margin: 10px;
}
.auto-payment .content .payment .content .highlight {
  color: #e1e1e1 !important;
}
.view-invoice .invoice-content {
  margin: 20px;
}

.view-invoice .invoice-content .account-summary label {
  border-bottom: 1px solid #e1e1e1;
  display: block;
  margin-top: 20px;
  padding-bottom: 5px;
}

.view-invoice .invoice-content .account-summary dl {
  margin: 10px 0 0;
  width: 100%;
}

.view-invoice .invoice-content .account-summary dl.total {
  background: #e1e1e1;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: 20px;
  padding: 10px;
}

.view-invoice .invoice-content .account-summary dl dt {
  float: left;
  font-weight: normal;
  line-height: normal;
}

.view-invoice .invoice-content .account-summary dl dt.bold {
  font-weight: bold;
}

.view-invoice .invoice-content .account-summary dl dd {
  float: right;
  line-height: normal;
}

.view-invoice .invoice-content .account-summary dl dd.bold {
  font-weight: bold;
}