/* Cloud Services */
.cloud-services {
  background: $blue-grey;
  height: 570px;
  margin-top: -275px;
  position: absolute;
  left: -90%;
  top: 50%;
  width: 90%;
	z-index:20;
	.close-btn {
		color:$white;
		cursor:pointer;
		display:inline-block;
		font-size:12px;
		margin-top:10px;
		position:absolute;
		right:17px;
		a {
			display:inline-block;
			vertical-align:-1px;}}
	.account-info {
		float:left;
		height:545px;
		margin:13px 19px;
		width:20.01733102253%;
	}
	.tabs-container {
		float:left;
		margin-top:8px;
		width:75.736568457539%;
		.table-nav {
			display:table;
			margin:0 auto;
			.nav-tabs {
				margin-bottom:0;
				text-align:center;
				li {
					margin-bottom:0;
					margin-left:20px;
					a {
						background:$blue-grey;
						border:none !important;
						border-radius:0;
						color:$white;
						font:normal 14px/14px 'avantgarde_light', arial, helvetica, sans-serif;
						padding:8px 10px 8px;
						&:hover {
							background:$white;
							color:$blue-grey;}}}
				.active {
					a {
						background:$white;
						color:$blue-grey;}}}}
		.tab-content {
			background:$white;
			height:505px;
			margin-top:-1px;
			padding:10px;}}
	.open-handle {
	  background: url("../Images/sprite-sheet.png") -200px 0;
	  display: inline-block;
	  height: 370px;
	  right: -42px;
	  margin-top: -185px;
		outline:none;
	  position: absolute;
	  top: 50%;
	  width: 44px;}}
		
.cloud-services.open {
	.open-handle {
	  background: url("../Images/sprite-sheet.png") -200px -374px;
		margin-right:12px;
		z-index:30;}}