/* Dashboard Tab */
.dashboard-tab {
	background:$blue-grey;
	display:inline-block;
	height:50px;
	left:50%;
	margin-left:-130px;
	padding:10px;
	position:absolute;
	top:25px;
	z-index:19;
	ul.dashboards {
		margin:0;
		padding:0;
		li {
			float:left;
			list-style-type:none;
			margin:0 10px;
			text-align:center;
			h5 {
				color:$white;
				margin:0 0 3px;}
			a {
				background-image:url("../Images/sprite-sheet.png");
				display:inline-block;
				&.billing {
					background-position:0 -206px;
					height:23px;
					width:23px;
					&:hover {
						background-position:0 -157px;}}
				&.apps {
					background-position:-25px -206px;
					height:24px;
					width:24px;
					&:hover {
						background-position:-25px -156px;}}
				&.security {
					background-position:-51px -206px;
					height:21px;
					width:23px;
					&:hover {
						background-position:-51px -157px;}}
				&.ops {
					background-position:-74px -206px;
					height:22px;
					width:22px;
					&:hover {
						background-position:-74px -157px;}}
				&.custom {
					background-position:-98px -206px;
					height:22px;
					width:22px;
					&:hover {
						background-position:-98px -157px;}}}}}
	.open-handle {
		background:url("../Images/sprite-sheet.png") 0 -72px;
		bottom:-42px;
		display:inline-block;
		height:42px;
		left:50%;
		margin-left:-75px;
		outline:none;
		position:absolute;
		width:150px;}}
		
.available-dashboards {
	display:inline-block;
	float:left;
	margin-left:20px;
	text-align:center;
	width:300px;
	h5 {
		color:$blue-grey;
		font-family:'avantgarde_book';
		margin:0;}
	.billing-dashboard {
		a {
			background: url("../Images/sprite-sheet.png") 0 -127px;
			display:inline-block;
			height:23px;
			width:23px;
			&:hover {
				background: url("../Images/sprite-sheet.png") 0 -157px;}}}
	.apps-dashboard {
		a {
			background: url("../Images/sprite-sheet.png") -25px -127px;
			display:inline-block;
			height:24px;
			width:24px;
			&:hover {
				background: url("../Images/sprite-sheet.png") -25px -156px;}}}
	.security-dashboard {
		a {
			background: url("../Images/sprite-sheet.png") -51px -128px;
			display:inline-block;
			height:21px;
			width:23px;
			&:hover {
				background: url("../Images/sprite-sheet.png") -51px -157px;}}}
	.ops-dashboard {
		a {
			background: url("../Images/sprite-sheet.png") -74px -129px;
			display:inline-block;
			height:22px;
			width:22px;
			&:hover {
				background: url("../Images/sprite-sheet.png") -74px -158px;}}}
	.custom-dashboard {
		a {
			background: url("../Images/sprite-sheet.png") -98px -129px;
			display:inline-block;
			height:22px;
			width:22px;
			&:hover {
				background: url("../Images/sprite-sheet.png") -98px -158px;}}}
	div[class*=-dashboard] {
		display:inline-block;
		zoom: 1;
		*display: inline;
		height:59px;
		margin-right:20px;
		vertical-align:top;
		&:last-child {
			margin-right:0;}
		h5 {
			color:#a1a1a1;
			font-family:'avantgarde_light';
			margin-bottom:3px;
			margin-top:0;}}}