/* Footer (Sticky) */
#body {
	min-height:750px;
	height:auto !important;
	height:750px;}
	
#wrap {
	min-height: 100%;
	height: auto !important;
	height: 100%;
  margin: 0 auto -71px;
	overflow:hidden;
	position:relative;
	width:auto;
}

#push {
  height: 71px;
	position:relative;
	z-index:-1;
}

.lt-ie8 #wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -74px;
	overflow:hidden;
	position:relative;
	width:auto;
}

.lt-ie8 #push {
  height: 78px;
}

#footer {
  height: 37px;
  background: $blue-dark;
  padding: 17px;
  color: #90a3bb;
  font: normal 10px/10px arial, sans-serif;
	position:relative;
	z-index:2;
}
#footer p {
  color: #90a3bb;
  font: normal 10px/10px arial, sans-serif;
  margin-bottom: 5px;
}
#footer a {
  color: #90a3bb;
}
#footer a:hover {
  color: $orange;
}
#footer .divider {
  vertical-align: 1px;
}

.el-business {
  text-align: right;
}
.el-business a {
  background: url("../Images/sprite-sheet.png") 249px 0px;
  display: inline-block;
  height: 33px;
  width: 164px;
}