/* Login Form */
.login {
  margin-top: -200px;
  position: relative;
  top: 50%;
  .mylink {
    margin-bottom:25px;
  }
}

.login-form {
  position: relative;
  text-align: right;
  h3 {
    color:$blue-grey;
    margin-top:25px;
    padding-right:10%;
  }
  img.el-business {
    margin:75px 0 0;
  }
}
.login-form img {
  margin-right: 7px;
}
.login-form input[type=text], .login-form input[type=password] {
  display: block;
  width: 95%;
}
.login-form .forget {
  display: block;
  font: normal 12px/12px arial, helvetica, sans-serif;
  margin: -3px 7px 10px 0;
}
.login-form .remember {
  margin-top: 13px;
}
.login-form .button {
  display: inline-block;
  margin: 10px 7px 0 0;
  padding: 2px 20px 0px 10px;
}

.login-form {
  .submit {
    display:inline-block;
    margin-top:0;
    position:relative;
    input {
      line-height:20px;
    }
    span {
      content: "";
      width: 0;
      height: 0;
      position: absolute;
      right: 16px;
      top: 21px;
      border-width: 6px 0px 6px 6px;
      border-style: solid;
      border-color: transparent #e65717;
    }
  }
}

.logged-in {
  float: left;
  margin-top: 25px;
  width: 18%;
	ul {
		list-style-type:none;
		margin-left:0;}}
		
.branding {
  background: url("../Images/logo.jpg") top left no-repeat;
  display: block;
  float: none;
  height: 40px;
  margin-left: 0;
  text-indent: -9999px;
  width: 117px;
}

.welcome {
  color: #90a3bb;
  font-size: 10px;
  line-height: 12px;
}
.welcome a {
  color: $white;
}
.welcome a:hover {
  color: $orange;
}

/*! http://responsiveslides.com v1.54 by @viljamis */

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }

.rslides_tabs {
  margin-top:15px;
  text-align:center;
  li {
    background: url("../Images/bullets.png") 0 0;
    height:22px;
    margin:0 3px;
    width:22px;
    display: inline-block;
    zoom: 1;
    *display: inline;
    a {
      display:block;
      position:relative;
      height: 22px;
      outline:none;
      text-indent:-9999px;
      width: 22px;
    }
    &.rslides_here {
      background: url("../Images/bullets.png") 0 -22px;
    }
  }
}