/* Manage Locations */
.manage-locations {
  background: $blue-grey;
  height: 570px;
  margin-top: -275px;
  position: absolute;
  right: -90%;
  top: 50%;
  width: 90%;
	z-index:20;
	#map_status_message {
		color:$white;}
	.open-handle {
	  background: url("../Images/sprite-sheet.png") -156px 0;
	  display: inline-block;
	  height: 370px;
	  left: -42px;
	  margin-top: -185px;
		outline:none;
	  position: absolute;
	  top: 50%;
	  width: 44px;}
	#map_canvas {
		height:480px;
	  left: 10px;
		margin-top:-240px;
	  position: absolute;
	  top: 50%;
		width:98.266897746967%;
		#loading_text {
			color: $white;
		  width: 100%;
		  text-align: center;
		  position: absolute;
		  top: 50%;}}
	.legend {
		background:#e26e1e;
		bottom:0;
		color:$white;
		font-size:12px;
		height:33px;
		left:0;
		padding-left:5%;;
		padding-top:5px;
		position:absolute;
		width:100%;
		.map-last-update {
			display:inline-block;}
		.data-center {
			display:inline-block;
			*display:inline;
			margin-right:27px;
			zoom:1;
			span{
				background:url("../Images/sprite-sheet.png");
				display:inline-block;
				*display:inline;
				margin-right:10px;
				vertical-align: -6px;
				zoom:1;}}
		.data-center.grey span {
			background-position: 0 -43px;
			height:27px;
			width:32px;}
		.data-center.blue span {
			background-position: -35px -43px;
			height:27px;
			width:32px;}
		.status {
			color:$white;
			display:inline-block;
			*display:inline;
			margin-right:14px;
			zoom:1;
			span {
				background:url("../Images/sprite-sheet.png");
				display:inline-block;
				*display:inline;
				margin-right:5px;
				vertical-align: -3px;
				zoom:1;}}
		.status.green span {
			background-position: -102px -50px;
			height:20px;
			width:12px;}
		.status.red span {
			background-position: -72px -50px;
			height:20px;
			width:12px;}
		.status.yellow span {
			background-position: -86px -50px;
			height:20px;
			width:12px;}
		.status.grey {
			margin-left:18px;
			span {
				background-position: -116px -50px;
				height:20px;
				width:12px;}}}
			
	.location-settings {
		color:$white;
		font-size:12px;
		left:0;
		line-height:22px;
		margin-top:10px;
		padding-left:1.8%;;
		position:absolute;
		top:0;
		width:100%;
		z-index: 2;
		input[type=checkbox] + label {
			font:normal 12px/10px arial, helvetica, sans-serif;
			margin-left:12px;
			vertical-align:0px;}
		.close-btn {
			cursor:pointer;
			display:inline-block;
			margin-top:3px;
			position:absolute;
			right:5.979202772964%;
			top:0;
			a {
				display:inline-block;
				vertical-align:-1px;}}
		.dd-container {
			display:inline-block;
			*display:inline;
			margin-right: 13px;
			margin-top:-3px;
			vertical-align:middle;
			zoom:1;
			&:first-child {
				margin-left:10px;}
			&:nth-of-type(3) {
				margin-left:10px;}}
		label {
			color:$white;}}}

.manage-locations {
	.panel {
		position: absolute;
		height: 100%;
		width: 87%;
		top: 0;
		right: -87%;
		z-index: 30;
		background: $blue-grey;
		.back-to-map {
			bottom: 10px;
			display:none;
			left: 20px;
			position: absolute;}
		.tabs-container {
			display:block;
			float:right;
			height: 550px;
			padding:10px;
			position:relative;
			width:75%;
			.tab-content {
				background: #fff;
				height:520px;
				overflow: hidden;
				.tab-pane {
					padding: 20px;
					overflow-y: scroll;
					height: 100%;
					word-wrap: break-word;
				}
			}
			.table-nav {
				display:table;
				margin:0 auto;
				.nav-tabs {
					border:none;
					margin-bottom:1px;
					li {
						margin-left:20px;
						a {
							background: #526c8c;
							border: none !important;
							border-radius: 0;
							color: white;
							font: normal 14px/14px "avantgarde_light", arial, helvetica, sans-serif;
							padding: 8px 10px 8px;
						}
						&.active {
							a {
								background: white;
								color: #526c8c;
							}
						}
						&:hover {
							a {
								background: white;
								color: #526c8c;
							}
						}
					}
				}
			}
		}
	}
}

.manage-locations {
	.location-information {
		display:block;
		float:left;
		padding-left:20px;
		width:20.02348796241926%;
		h2 {
			color:$white;
			line-height:125%;
			margin-top:15px;
		}
		p {
			color:$grey;
			font-size:14px;
			a {
				color:$grey;
				text-decoration:underline;
			}
		}
		.address {
			margin-bottom:25px;
		}
		hr {
			margin:20px 0;
		}
		.button {
			font-size:1em;
			margin-bottom:10px;
		}
	}
}
		
.manage-locations.open {
	.open-handle {
		background: url("../Images/sprite-sheet.png") -156px -374px;
		left:-22px;
		z-index:30;}}
		
.map-modal-overlay {
    display: none;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(20, 20, 20, 0.6);
    z-index: 1;}

.map-modal {
    position: absolute;
    width: 440px;
    margin: -80px 0 0 -220px;}
		
.map-popup-header {
    background-color: #F6F6F6;
    padding: 7px 10px;
    border-bottom: solid 1px #EEE;
		p {
	    font-family: "avantgarde_light", arial;
	    font-size: 14px;
	    font-weight:bold;
	    color: #333;
	    margin: 0;}}

.map-popup-body {
    background-color: white;
    padding: 8px 10px;
		p {
	    font-size: 12px;
	    margin-bottom: 2px;}}

.map-popup-body p {
    font-size: 12px;
    margin-bottom: 2px;
		&.map-address {
    	margin-bottom: 8px;}}

.manage-locations .location-information a {
  cursor: pointer;
}
.manage-locations .location-detail-content {
  font-size: 15px;
}
.manage-locations .location-detail-content h3 {
  display: block;
  width: 100%;
  color: #526c8c;
  border-bottom: solid 1px #999;
}
.manage-locations .location-detail-content .green-bar {
  display: inline-block; 
  background-color: #090; 
  margin-top: 1px;
}
.manage-locations .location-detail-content .red-bar {
  display: inline-block; 
  background-color: #C00; 
  margin-top: 1px;
}
.manage-locations .location-detail-content .gray-bar {
  display: inline-block; 
  background-color: #999; 
  margin-top: 1px;
}
.lt-ie9 .map-modal-overlay {
  background: transparent;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#99222222,endColorstr=#99222222);
}

.map-modal-container {
  display: none;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 2;
}
.map-filter-controls {
    display: none;
}

.map-last-update {
    display: inline-block;
    *display: inline;
    margin-left: 20px;
}
.map-last-update span.clock-icon {
    background: url("../Images/glyphicons-halflings-white.png") -49px -25px;
    width: 12px;
    height: 12px;
    display: inline-block;
    *display: inline;
    margin-right: 6px;
    vertical-align: -1px;
    zoom: 1;
}

.map-detail-billing-account {
    width: 95%;
    margin-bottom: 20px;
}

.map-detail-billing-account select {
    width: 110%;
    padding-right: 0;

}
