/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* Styles */
}
/* Smartphones (landscape) ----------- */
@media only screen and (min-width: 321px) {
  /* Styles */
}
/* Smartphones (portrait) ----------- */
@media only screen and (max-width: 320px) {
  /* Styles */
}
/* iPhone 4 */
@media only screen and (min-device-width: 640px) and (max-device-width: 960px) {
  /* Styles */
}
/* iPhone 5 */
@media only screen and (min-device-width: 640px) and (max-device-width: 1136px) {
  /* Styles */
}
/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) {
  /* Styles */
  body {
    min-width: 1024px;
    overflow-x: scroll;
	}
}
/* iPads (landscape) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: $break-desktop-min) and (orientation: landscape) {
  body {
    min-width: 1024px;
    overflow-x: scroll;
	}

	.navbar {
	  margin-left: -20px;
	  min-width: 1024px;
	}
	.navbar .container {
	  min-width: 1000px;
	}

	.navbar-inner {
	  padding: 0 20px;
	}

	.header {
		.container {
			margin:0 auto;
		  width:960px;
		}
	}

	#wrap {
	  width:100%;
		.container {
			margin:0 auto;
		  width:960px;
		}
	}
	
	.manage-locations {
		.location-settings {
			padding-left:1.8%;
			.close-btn {
				display:none;}}
		.legend {
			padding-left:5%;}}
			
	.cloud-services {
		div.close-btn {
			display:none;
		}
		.tabs-container {
			width:75%;
		}
	}

	#primary-nav li {
	  margin-left: 35px;
	}
}
/* iPads (portrait) ----------- */
@media only screen and (min-device-width: 768px) and (max-device-width: $break-desktop-min) and (orientation: portrait) {
  /* Styles */
}
/* Desktops and laptops ----------- */
@media only screen and (min-width: 1224px) {
  /* Styles */
}
/* Large screens ----------- */
@media only screen and (min-width: 1824px) {
  /* Styles */
}
/* iPhone 4 ----------- */
@media only screen and (-webkit-min-device-pixel-ratio: 1.5), only screen and (min-device-pixel-ratio: 1.5) {
  /* Styles */
}
/* Large desktop */
@media (min-width: 1200px) {
	.login-form {
		label {
			font-size:18px;
		}
	}
}
@media (min-width: 1025px) and (max-width: $break-desktop-max) {
	body {
		height:100%;
		min-height:800px;
	}
  .container {
    max-width: 1170px;
    min-width: 1000px;
	}
}
@media only screen and (max-width: 1170px) {
	.widget-container:nth-of-type(4n+4){
		margin-right:12px !important;
	}
	.widget-container:nth-of-type(3n+3){
		margin-right:0;
	}
	.login-form {
		label {
			font-family:"avantgarde_book";
			font-size:14px;
		}
	}
}
@media (min-width: $break-desktop-min) and (max-width: $break-desktop-max) {
  .search-box .search-btn {
    right: 190px;
	}
  #primary-nav li {
    margin-left: 35px;
  }
}
@media only screen and (min-width: $break-desktop-min) and (max-width:1130px) {
	.manage-locations {
		.location-settings {
			padding-left:1.8%;
			.close-btn {
				display:none;}}
		.legend {
			padding-left:5%;}}
			
	.cloud-services {
		div.close-btn {
			display:none;
		}
		.tabs-container {
			width:75%;
		}
	}
}
@media only screen and (max-width: $break-desktop-min) {
  body {
    min-width: 1024px;
    overflow-x: scroll;
	}

	html.lt-ie8 {
	  height: 100%;
	  margin-bottom: 1px;
	  overflow: auto;
	  width: 1024px;
	}
	html.lt-ie8 body {
	  height: 100%;
	  margin-bottom: 1px;
	  overflow-y: scroll;
	  overflow-x: hidden;
	  width: 980px;
	}
	html.lt-ie8 footer {
	  width: 960px;
	}
	html.lt-ie8 footer p {
	  margin-bottom: 4px !important;
	}
	html.lt-ie8 footer nav a {
	  line-height: 10px;
	}

	html.lt-ie9 {
	  height: 100%;
	  margin-bottom: 1px;
	  overflow: auto;
	  width: 1024px;
	}
	html.lt-ie9 body {
	  height: 100%;
	  margin-bottom: 1px;
	  overflow-y: scroll;
	  overflow-x: hidden;
	  width: 980px;
	}
	html.lt-ie9 footer {
	  width: 960px;
	}

	.navbar-inner {
	  padding: 0 1.953125%;
	}

	.search-box .search-btn {
	  right: 187px;
	}

	#wrap {
	  width:100%;
		container {
		  min-width: 1024px !important;
		}
	}

	#primary-nav li {
	  margin-left: 35px;
	}
	
	.manage-locations {
		.location-settings {
			padding-left:1.8%;
			.close-btn {
				display:none;}}
		.legend {
			padding-left:5%;}}
			
	.cloud-services {
		div.close-btn {
			display:none;
		}
		.tabs-container {
			width:75%;
		}
	}
	
}
/* Portrait tablet to landscape and desktop */
@media (min-width: 768px) and (max-width: 979px) {
  /* Styles */
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
  /* Styles */
}
/* Landscape phones and down */
@media (max-width: 480px) {
  /* Styles */
}