#WidgetModal {
	background:$white;
	border:1px solid #c3c3c3;
	color:$dark-grey;
	padding:10px;
	.heading {
		background: #0d1a34;
		height: 15px;
		padding: 5px 7px;
		position: relative;
		h3 {
			color: white;
			font-size: 18px;
			line-height: 18px;
			margin: 0;
		}
		.close-btn {
			position: absolute;
			right:5px;
			top: 8px;
		}
	}
	.available-widget-container {
		padding:30px 0 30px 30px;
		a.available-widget.button {
			display:block;
			font-size:12px;
			margin-top:5px;
			width:130px;
		}
		p.title {
			font:bold 12px/17px arial, helvetica, sans-serif;
			margin:0;
		}
	}
}

.modal {
	border-radius:0px;
}

.modal-backdrop {
	background:$white;
	opacity: 0.85;
}