/* pager bar styles */
.pager-bar {
  background-color: $orange;
	margin-bottom:5px;
  width: 100%;
  height: 28px;
  font-size: 12px;
  color: $white;
  position: relative;
	.results {
		float:right;
		line-height:28px;
		margin-right:10px;
		a {
			color:$white;
			cursor:pointer;
			&.active {
				color:#F9B98D;}}}
	.paging_full_numbers {
		display:inline-block;
		height:28px;
		line-height:32px;
		margin:-3px 0 0 10px;
		a {
			cursor:pointer;
			vertical-align:middle;}
		span {
			a {
				color:$white;
				line-height:28px;
				padding:2px;
				text-decoration:none;
				&:hover {
					color:#f9b98d;
					text-decoration:underline;}
				&.paginate_active {
					color:#f9b98d;}
				&.paginate_button.paginate_button_disabled {
					opacity:0.50;}}}
		.first {
			background:url(../Images/sprite-sheet.png) 0 -195px;
			display:inline-block;
			height:8px;
			margin-right:5px;
			margin-top:1px;
			text-indent:-9999px;
			width:10px;
		}
		.last {
			background:url(../Images/sprite-sheet.png) -11px -195px;
			display:inline-block;
			height:8px;
			margin-left:5px;
			margin-top:1px;
			text-indent:-9999px;
			width:10px;
		}
		.previous {
				background:url(../Images/sprite-sheet.png) 0 -184px;
				display:inline-block;
				height:8px;
				margin-right:5px;
				margin-top:-1px;
				text-indent:-9999px;
				width:5px;}
		.next {
				background:url(../Images/sprite-sheet.png) -6px -184px;
				display:inline-block;
				height:8px;
				margin-left:5px;
				margin-top:-1px;
				text-indent:-9999px;
				width:5px;}}}
		
.pager-bar .pager {
  float: left;
  margin: 0;
  text-align: left;
}
.pager-bar .pager .pager-arrow a {
  background-color: transparent;
  border: none;
  border-radius: 0;
  content: "";
  display: block;
  width: 0;
  height: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  margin-top: -7px;
  border-style: solid;
  border-color: transparent $white;
}
.pager-bar .pager .pager-bar .pager .left-arrow {
  float: left;
}
.pager-bar .pager .pager-bar .pager .right-arrow {
  float: left;
}
.pager-bar .pager .left-arrow a {
  border-width: 6px 6px 6px 0px;
  margin-left: 10px;
}
.pager-bar .pager .right-arrow a {
  border-width: 7px 0px 6px 6px;
  margin-left: 7px;
}
.pager-bar .pager .pager-text {
  margin-left: 22px;
  margin-top: 8px;
  float: left;
}
.pager-bar .results-per-page {
  float: right;
  margin-top: 8px;
  margin-right: 10px;
}
.pager-bar .results-per-page a {
  color: $white;
  text-decoration: none;
  padding: 0 3px;
}
.pager-bar .results-per-page a.selected {
  color: $grey;
}

.filter {
	background:$light-grey;
	margin-bottom:5px;
	padding:20px;
	position:relative;
	h3 {
			height:18px;}
	.submit {
		float:right;
		position:relative;}}

.text-search {
	float:left;
	margin-bottom:20px;
	margin-right:30px;
	input[type=text] {
		width:150px;}
	h3 {
		color:$dark-grey;
		line-height:100%;
		margin:0;}}
		
.filter_checkbox_list {
	float:left;
	margin-bottom:20px;
	margin-right:30px;
	position:relative;
	label {
		position:relative;
		top:4px;}
	h3 {
		color:$dark-grey;
		line-height:100%;
		margin:0 0 5px;}}

.accounts {
	float:left;
	margin-bottom:20px;
	margin-right:30px;
	h3 {
		color:$dark-grey;
		line-height:100%;
		margin:0;}}

.dataTable {
	margin-bottom:0;
	thead {
		tr {
			th[role=columnheader] {
				cursor:pointer;}}}}
				
.dataTables_filter {display:none;}
.dataTables_length {display:none;}
.dataTables_info {
	display:none;
	&+.dataTables_paginate {
		display:none;}}
.dataTables_wrapper {
	.pagination {
	 display:none;}}

.filter_date_range {
	float:left;
	margin-bottom:20px;
	width:445px;
	h3 {
		color:$dark-grey;
		line-height:100%;
		margin:0;}
	.date-range {
		display:inline-block;
		font-size:12px;
		width:100%;}
	.submit {
		margin:0;
		position:relative;}
	input[type=text] {
		margin-left:5px;
		margin-right:15px;
		width:79px;
		&+img {
			margin-right:40px;}}}
			
#flt_txt_end_Date + img {
	margin-right:0;}
	
	.lt-ie8 {
		.accounts {
			float:left;}
		.filter_date_range {
			float:left;}
		.submit {
			display:inline;
			float:right;}}
			
//.lt-ie9 {
//	.filter_date_range {
//		width:68%;
//		.date-range {
//			width:80%;
//			input[type=text] {
//				margin-right:12px;
//				&+img {
//					margin-right:30px;
//					margin-top:-2px;}}
//				&:first-child > input[type=text] + img {
//					margin-right:0 !important;}}}}
			
#ui-datepicker-div {
	background:#fff;
	display:none;
	padding:20px;}