/* primary nav styles */
#header {
	z-index:39;	
	.navbar {
		position: relative;
		z-index:39;
		.navbar-inner {
			height: 95px;
			.container {
		  	max-width: 1170px;}}}}

#primary-nav {
  background-color: $blue-dark;
  float: left;
  margin-top: 50px;
  position: relative;
  width: 60%;
  z-index: 40;
}
#primary-nav ul {
  margin-left: 0;
  z-index: 2;
}
#primary-nav li {
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  zoom: 1;
  *display: inline;
  @include base-avantgarde;
  margin-left: 55px;
	position:relative;
  z-index:40;
	&.selected > a {
		color:$orange;}
  .subnav {
    display: none;
    position: absolute;
    top: 0;
    background-color: $blue-dark;
    padding: 55px 20px 20px;
    margin-left: -20px;
    width: 200px;
    z-index: -1;
    &.products {
      -moz-column-count: 2;
      -moz-column-gap: 40px;
      -webkit-column-count: 2;
      -webkit-column-gap: 40px;
      column-count: 2;
      column-gap: 40px;
      width: 500px;}}}

.no-csscolumns #primary-nav li .subnav.products {
  display: block;
  -moz-column-count: 2;
  -moz-column-gap: 40px;
  -webkit-column-count: 2;
  -webkit-column-gap: 40px;
  column-count: 2;
  column-gap: 40px;
  visibility: hidden;
  width: 500px;
}

#primary-nav li .subnav.products li.category {
  color: #90a3bb;
  font: normal 16px / 16px "avantgarde_light", arial, helvetica, sans-serif;
  margin-bottom: 5px;
  margin-top: 20px;
  &:nth-child(2n) {
    margin-top: 10px !important;
    }
}

.lt-ie8 #primary-nav li .subnav {
  left: 0;
  top: 0;
  width: 200px;
  li {
    width: 100%;
     }
}

.lt-ie9 .products .first.column {
	margin-right:20px;
}

#primary-nav li.slvzr-first-child{
  margin-left: 0;
}

#primary-nav li:first-child {
  margin-left: 0;
}
#primary-nav li a {
  color: $white;
  font-size: 16px;
  text-decoration: none;
}
#primary-nav li a:hover {
  color: $orange;
}
#primary-nav li a .nav-arrow {
  background: url("../Images/sprite-sheet.png") -135px -2px;
  width: 16px;
  height: 9px;
  display: block;
  outline: 0px;
  margin: auto;
  margin-top: 0;
}
/*#primary-nav li .subnav {
  display: none;
  position: absolute;
  top: 40px;
  background-color: $blue-dark;
  padding: 20px;
  margin-left: -20px;
}*/
#primary-nav li .subnav li {
  display: block;
  margin: 0;
}
#primary-nav li .subnav li a {
  font: normal 16px/26px "avantgarde_light", arial, sans-serif;
  padding-left: 13px;
  position: relative;
}
#primary-nav li .subnav li a span.arrow {
  background: url("../Images/sprite-sheet.png") -20px -22px;
  height: 7px;
  left: 0;
  position: absolute;
  top: 3px;
  width: 4px;
}

/* IE7 Navigation fix */
.lt-ie8 #primary-nav {
  li {
    &:first-child {
      width: 147px;}
    &:nth-child(2) {
      width: 74px;}
    &:nth-child(3) {
      width: 42px;}
    &:nth-child(4) {
      width: 66px;}
    &:last-child {
      width: 102px;}
		.subnav {
			list-style-type:none;}}}