.search {
  float: right;
  margin-top: 23px;
	position:relative;
  text-align: right;
  width: 21%;
	z-index:41;
}
.search .chat-support {
  background: url("../Images/talk-bubble.png") top right no-repeat;
  color: $white;
  display: inline-block;
  font: normal 12px/12px "avantgarde_book", arial, sans-serif;
  height: 12px;
  margin-right: -2px;
  padding-right: 23px;
  padding-top: 8px;
}
.search .chat-support:hover {
  color: $orange;
}

.search-box {
  margin-top: 3px;
  position: relative;
}
.search-box input {
  border-radius: 0;
  font: normal 14px/16px "avantgarde_book", arial, sans-serif;
  height: 14px;
  padding: 6px 4px 2px 25px;
  width: 180px;
}
.search-box .search-btn {
  position: absolute;
  top: 9px;
  right: 195px;
}