.steps {
	.step {
		float:left;
		margin-right:15px;}
	&~ form {
		div {
			margin-bottom:20px;}}}

.site-access {
	.days {
		margin-bottom:20px;
		div {
			float:left;
			margin-bottom:0;
			width:200px;
			span {
				display:block;
			}
		}
	}
	.time {
		margin-bottom:20px;
		div {
			float:left;
			margin-bottom:0;
			width:200px;
			span {
				display:block;
			}
		}
	}
}

.issue-container {
	margin-top:15px;
	label {
		margin-right:10px;
		input[type=radio] {
			margin-right:0;
			position: relative; 
			vertical-align: text-top;
		}
	}
}

#divQuestions {
	input[type=text] {
		margin-left:10px;
	}
	select {
		margin-left:10px;
	}
	.styled-select {
		display:inline-block;
		margin:0 10px;
	}
}

.submit-actions {
	.submit {
		float:left;
		margin-right:20px;
	}
}

#SupportTicketModal {
  position: absolute;
  left: 35%;
  top: 35%;
  width: 55%;
  height: 40%;
  overflow: auto;
}
#SupportTicket {
  padding: 20px;  
}