/* Tab styling for sub navigation */

.tab-container {
	display:block;
	margin:0 auto;
	position:relative;
	width:95%;
	.top-shadow {
		display:block;
		height:13px;
		margin-left:-14px;
		position:absolute;
		top:-13px;
		width:478px;}
	.content {
		padding:20px;
		position:relative;
		width:80%;}}
	
.tabs {
	position:relative;
	width:13.418803418803%;
	.left-shadow {
		display:inline-block;
		height:100%;
		margin-left:-14px;
		margin-right:0;
		position:absolute;
		top:0px;}}
	
.tab-menu {
	display:inline-block;
	position:relative;
	width:100%;
	.content-shadow {
		position:absolute;
		height:100%;
		margin-top:-2px;
		min-height:221px;
		right:0;}
	ul {
		margin:0;
		padding:0;
		position:relative;
		width:100%;
		li {
			background:#e1e1e1;
			border-bottom:1px solid #fff;
			list-style-type:none;
			padding:8px 10px 7px;
			text-align:right;
			&.selected {
				background:#fff;
				color:#526c8c;}
			&:hover {
				background:#fff;
				color:#526c8c;}
			a {
				color:#464646;
				font-size:14px;
				@include base-avantgarde;
				line-height:100%;}}}}
				
.lt-ie8 .top-shadow, .lt-ie8 .left-shadow,.lt-ie8 .content-shadow {
	display:none;}
	
	.lt-ie8 {
		.tab-container {
			border-top:1px solid #f2f2f2;}
		.tab-menu {
			ul {
				li {
					&.active {
						border:1px solid #f2f2f2;
					}
					&:hover {
						border:1px solid #f2f2f2;
					}}}}}