/* dashboard widget styles */
#widgets {
	margin-top:30px;
	text-align:center;
}

.widget-container {
  display: inline-block;
	*display:inline;
	float:left;
  width: 274px;
  height: 274px;
  padding: 2px;
  border: 1px solid $grey;
  margin-bottom: 12px;
  margin-right: 12px;
	text-align:left;
	zoom:1;
}

.widget {
  background-color: $grey-light;
  height: 262px;
  padding: 6px;
}
.widget .heading {
  background-color: $blue-dark;
  height: 15px;
  padding: 5px 7px;
  position: relative;
}
.widget .heading h3 {
  color: $white;
  font-size: 18px;
	line-height:18px;
	margin:0;
}
.widget .heading .close-btn {
  position: absolute;
  left: 245px;
  top: 8px;
}
.widget .content {
  background-color: $grey-light;
  padding: 6px;
  height: 194px;
}
.widget .content p {
	line-height:normal;
  margin-bottom: 0;
  margin-left: 10px;
}
.widget .content h3 {
	line-height:18px;
  margin: 10px 0 0;
}
.widget .footer a {
  float: right;
  line-height: 12px;
}

.widget .footer .submit {
	position: relative;
	float: right;
	line-height: 12px;
	margin: 0;}

.widget-placeholder {
	background:$black;
  border: 1px dashed $grey;
  display: inline-block;
  height: 280px;
	height:1px !important;
  width: 280px;
}

.ui-sortable-placeholder {
	background:$black;
  display: inline-block;
  height: 280px;
	height:1px !important;
	width:280px;
}

.account-info {
	.content {
		color:#000;
		font:normal 12px/15px arial, helvetica, sans-serif;
 		label {
			margin-top:35px;}}}
			
.billing-alerts {
	.content {
		p {
			display:inline-block;
			font: normal 18px/24px 'avantgarde_light';
			position: relative;
			text-align:right;
			vertical-align: middle;
			width:105px;}
		span {
			color: #e26e1e;
			display: inline-block;
			font-family: 'avantgarde_light';
			font-size: 100px;
			line-height: 90%;}}}

#WidgetModal {
	padding:10px;
}