// Media Queries
$break-desktop-min: 1024px;
$break-desktop-max: 1199px;

// Grid Overlay
$grid-background-column-color: rgba(100, 100, 225, 0.25);
$grid-background-total-columns:12;
$grid-background-gutter-width: 12px;
$grid-background-column-width:86.5px;
$show-baseline-grid-backgrounds:false;

// Color Variables
$white: #fff;
$black: #000;
$light-grey: #e1e1e1;
$grey: #c3c3c3;
$dark-grey: #868d9a;
$darker-grey: #464646;
$blue-grey: #526c8c;
$blue-dark: #0d1a34;
$grey-light: #f5f5f5;
$orange: #e65717;
$red: #dd2222;

// Mixins
@mixin base-avantgarde {
	font-family: "avantgarde_light", arial;
}

@import "compass";
@import "compass/css3";

/* embedded fonts */
@include font-face("avantgarde_book", font-files("ITCAvantGardeStd-Bk.woff", "ITCAvantGardeStd-Bk.ttf", "ITCAvantGardeStd-Bk.svg"), "ITCAvantGardeStd-Bk.eot", normal, normal);
@include font-face("avantgarde_light", font-files("ITCAvantGardeStd-XLt.woff", "ITCAvantGardeStd-XLt.ttf", "ITCAvantGardeStd-XLt.svg"), "ITCAvantGardeStd-XLt.eot", normal, normal);

@import "base";

.contact-info ~ .submit {
	left:65%;
	margin-top:20px;
}

/* Overlay */
.overlay {
	background:rgba(255,255,255,0.85);
	display:none;
	left:0;
	position:absolute;
	z-index:19;
}

.lt-ie9 .overlay {
	background:transparent;
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr=#DFFFFFFF,endColorstr=#DFFFFFFF); 
	zoom: 1;
}

.lt-ie8 .overlay {
	visibility:hidden;
	z-index:100;
}

@import "dashboard";
@import "modals";
@import "manage-locations";
@import "cloud-services";
@import "primary-nav";
@import "tab-nav";
@import "login";
@import "search";
@import "widgets";
@import "contact";
@import "pager-bar";
@import "billing";
@import "support";
@import "footer";

html.lt-ie8 {
  height:100%;
  min-height:100%;
  overflow: auto;
}

html.lt-ie8 body {
  height:auto !important;
  height:100%;
  min-height:100%;
  overflow: hidden;
}

@import "media-queries";